<ul class="list">
  <li class="item" (click)="redirectTo()">
    <img src="/assets/images/svg-icons/time15.png" alt="" class="img">
    <span class="text"><20 min</span>
  </li>
  <li class="item" (click)="redirectTo()">
    <img src="/assets/images/svg-icons/time30.png" alt="" class="img">
    <span class="text">20-40 min</span>
  </li>
  <li class="item" (click)="redirectTo()">
    <img src="/assets/images/svg-icons/time60.png" alt="" class="img">
    <span class="text">40+ min</span>
  </li>
</ul>
