<div class="add-feedback">
  <div class="add-feedback__wrapper">
    <div class="add-feedback__rating">
      <rating [rate]="rate"
              readonly="false"
              size="small"
              (rateChange)="setRate($event)">
      </rating>
    </div>
    <div class="divisor"></div>
    <ion-input placeholder="Leave feedback"></ion-input>
  </div>

  <ion-button (click)="addFeedback()" expand="full" color="secondary" size="small"
  >
    <ion-icon name="add" slot="icon-only"></ion-icon>
  </ion-button>
</div>
