<ion-header translucent>
  <ion-toolbar>
    <ion-title>Stat by day {{day.day}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>

  <div class="qr d-flex flex-column ion-justify-content-center ion-margin-top ion-padding-start ion-padding-end">
    <span class="gr__text ion-margin-top">
     Stat by day {{day.day}} -  {{day.height}}
    </span>

    <span class="gr__text ion-margin-top">

    </span>

  </div>

</ion-content>
