<app-main-layout
        [titlePage]="pageTitle"
        [isAccount]="true"
        [isNeedBgWhite]="true"
>
        <div class="account ion-padding-start ion-padding-end">
            <div class="account__row">
                <ion-item lines="none">
                    <ion-label position="stacked">Weblink</ion-label>
                    <ion-input placeholder="Weblink"></ion-input>
                </ion-item>
            </div>
            <div class="account__row">
                <ion-item lines="none">
                     <ion-label position="stacked">Marital status</ion-label>
                    <ion-input placeholder="Marital status"></ion-input>
                </ion-item>
            </div>
            <div class="account__row">
                <ion-item lines="none" class="textarea">
                     <ion-label position="stacked">Bio</ion-label>
                    <ion-textarea placeholder="Bio..."></ion-textarea>
                </ion-item>
            </div>
         <!--   <div class="account__row">
                <ion-button color="warning" expand="block" (click)="saveProfile()">
                    <div class="account__btn">
                        <span class="account__btn-text">Save profile</span>
                    </div>
                </ion-button>
            </div>
            -->
        </div>
</app-main-layout>
