@import "variables";
@import "mixins";

.swiper-container {
   // display: flex;
   // flex-direction: column-reverse;
   // padding-top: 50px;
}
.custom-slides__wrapper {
    height: 100%;
}


:host {
    ::ng-deep app-main-layout {
        ion-header {
            display: none;
        }
        ion-footer {
            display: none;
        }
    }
    ::ng-deep ion-content {
        --background: #2C2F36!important;
        --overflow: hidden;
        --padding-top: 0!important;
    }

    ::ng-deep ion-slides.custom-slides {
        height: 100%;

        > .swiper-pagination-bullets {
            bottom: 45px;
        }
        .swiper-pagination-bullet {
            width: 30px;
            height: 7px;
            background: $dark-gray;
            opacity: 1;
            margin: 0;
            border-radius: unset;
        }
        .swiper-pagination-bullet-active {
            background: white;
        }
    }
}

.title {
    @include mt22;

    margin-bottom: auto;

    font-family: $font-family-semi;
    font-size: 13px;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: $light-gray3;
}
