@import "variables";
@import "mixins";

:host {
    width: 100%;
    height: 100%;
   // background: $white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    ::ng-deep perfect-scrollbar .ps-content {
        height: 100%;
    }
}


.slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 54px;
    // padding-left: 37px;
    // padding-right: 37px;

    //background: $white;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    &__preview {
        position: relative;
        width: 128px;
        height: 128px;
        min-height: 128px;
        margin-top: 26vh;
        background-color: var(--ion-color-warning);
        border-radius: 50%;
        border: 2px solid var(--ion-color-warning);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            width: 53px;
            height: 48px;
            margin: auto;

            background-image: url("/assets/images/svg-icons/ios-camera.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &--loaded {
            background-color: var(--ion-color-warning-contrast);
        }

       /* &:after {
            content: 'Upload profile picture';
            position: absolute;
            top: 68px;
            right: 0;
            left: 0;
            margin: auto;

            font-family: $font-family-oswald;
            font-size: 14px;
            line-height: 14px;
            color: $white;

        }*/
        &--loaded:before, &--loaded:after {
            display: none;
        }
    }

    &__img {
        position: relative;
        width: 247px;
        height: 247px;
        min-height: 247px;
        // background-color: $light-gray;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;

            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    &__title {
        @include mt16;
        @include mb16;

        font-family: $font-family-semi;
        font-size: 36px;
        font-weight: 900;
        line-height: 40px;
        text-align: center;
        letter-spacing: 1px;
        color: $white;
        text-transform: uppercase;
    }

    &__title-photo {
        @include mt16();
        @include mb16();
        @include border-radius-8;

        padding: 12px 16px;

        font-family: $font-family-semi;
        font-size: 16px;
        font-weight: 800;
        line-height: 20px;
        text-align: center;
        color: var(--ion-color-warning);
        letter-spacing: 1.06px;
        text-transform: uppercase;

        background: $dark-gray;
    }


    &__text {
        @include mb16();

        font-family: $font-family-montserrat!important;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: $light-gray3
    }
    &__btn {
        // width: 131px;
        height: 40px;
        margin-bottom: 80px;
        margin-top: auto;
        --border-radius: 8px;

        ion-icon {
            font-size: 18px;
        }
    }
    &__btn-text {
        font-family: $font-family-montserrat;
        font-size: 12px;
        font-weight: 600;
        line-height: 15px;
        text-align: center;
        color: $white;
    }
}
.slide__img--feed {
    background-image: url("/assets/images/svg-icons/get-started-news.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20px 0;
}
.slide__img--members {
    background-image: url("/assets/images/svg-icons/get-started-members.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20px 0;
}

.slide__img--tracking {
    background-image: url("/assets/images/svg-icons/get-started-tracking.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20px 0;
}

.slide__img--nutrition:before {
    background-image: url("/assets/images/svg-icons/get-started-nutrition.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20px 0;
}

.slide__img--classes:before {
    background-image: url("/assets/images/svg-icons/get-started-classes.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20px 0;
}

.slide__img--challenges:before {
    background-image: url("/assets/images/svg-icons/get-started-challenges.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20px 0;
}

.slide__img--prem:before {
    background-image: url("/assets/images/svg-icons/get-started-prem.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20px 0;
}

