@import "mixins";

:host {
    width: 100%;
}

.weekly {
    display: flex;
    justify-content: space-around;
    height: 190px;
    width: 100%;


    .day {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        transition: all 0.2s;

        &__scale {
            height: 40px;
            width: 8px;
            margin-bottom: 6px;
            border-radius: 10px;
            background: var(--light-gray2);
            transition: all 0.2s;
        }

        &__name {
            display: table-cell;
            @include textMonserat8;
        }

        &--current {
            .day__scale {
                background: var(--ion-color-warning)
            }

            .day__name {
                color: var(--ion-color-warning)
            }

        }

        &--selected {

            .day__scale {
                background: var(--dark-gray);
            }

            .day__name {
                color: var(--dark-gray);
                font-weight: 500;
            }
        }
    }
}


