<div class="weekly">
    <div class="day" *ngFor="let d of days" [ngClass]="{'day--selected': d.isSelect, 'day--current': d.isCurrent}" (click)="selectDay(d)">
        <div class="day__scale" [style.height]="d.height + 'px'"></div>
         <div class="day__name">{{d.day}}</div>
    </div>
    <!--<div class="day">
        <div class="day__scale" [style.height]="'99px'"></div>
        <span class="day__name">M</span>
    </div>
    <div class="day">
        <div class="day__scale" [style.height]="'47px'"></div>
        <span class="day__name">T</span>
    </div>
    <div class="day">
        <div class="day__scale" [style.height]="'113px'"></div>
        <span class="day__name">W</span>
    </div>
    <div class="day">
        <div class="day__scale" [style.height]="'79px'"></div>
        <span class="day__name">T</span>
    </div>
    <div class="day">
        <div class="day__scale" [style.height]="'95px'"></div>
        <span class="day__name">F</span>
    </div>
    <div class="day " >
        <div class="day__scale" [style.height]="'158px'"></div>
        <span class="day__name">S</span>
    </div>-->
</div>
