<app-main-layout
        [titlePage]="pageTitle"
        [isNeedBack]="true"
>
    <app-button-layout [listBtnForLayout]="listBtnForLayout.LIBRARY">

        <div class="library ion-margin-start ion-margin-end">
            <ion-card>
                <div class="card-program">
                    <div class="card-program__wrapper">
                        <span class="card-program__title">Strength</span>
                        <span class="card-program__text">07/12/2019, 22:03</span>
                    </div>

                    <ion-button (click)="start()" class="library__btn" size="small">
                        <ion-icon name="arrow-forward" slot="icon-only" color="warning"></ion-icon>
                    </ion-button>
                </div>
            </ion-card>

          <ion-card>
            <div class="card-program">
              <div class="card-program__wrapper">
                <span class="card-program__title">Cardio</span>
                  <span class="card-program__text">07/12/2019, 22:03</span>
              </div>

              <ion-button (click)="start()" class="library__btn" size="small">
                  <ion-icon name="arrow-forward" slot="icon-only" color="warning"></ion-icon>
              </ion-button>
            </div>
          </ion-card>
        </div>
    </app-button-layout>
</app-main-layout>
