<ul class="list">
  <li class="item" (click)="redirectTo()">
    <img src="/assets/images/svg-icons/meals/Dairy.svg" alt="" class="img">
    <span class="text">Dairy</span>
  </li>
  <li class="item" (click)="redirectTo()">
    <img src="/assets/images/svg-icons/meals/Egg.svg" alt="" class="img">
    <span class="text">Egg</span>
  </li>
  <li class="item" (click)="redirectTo()">
    <img src="/assets/images/svg-icons/meals/Gluten.svg" alt="" class="img">
    <span class="text">Gluten</span>
  </li>
  <li class="item" (click)="redirectTo()">
    <img src="/assets/images/svg-icons/meals/Grain.svg" alt="" class="img">
    <span class="text">Grain</span>
  </li>
  <li class="item" (click)="redirectTo()">
    <img src="/assets/images/svg-icons/meals/Peanut.svg" alt="" class="img">
    <span class="text">Peanut</span>
  </li>
  <li class="item" (click)="redirectTo()">
    <img src="/assets/images/svg-icons/meals/Seafood.svg" alt="" class="img">
    <span class="text">Seafood</span>
  </li>
  <li class="item">
    <img src="/assets/images/svg-icons/meals/Sesame.svg" alt="" class="img">
    <span class="text">Sesame</span>
  </li>
  <li class="item" (click)="redirectTo()">
    <img src="/assets/images/svg-icons/meals/Shellfish.svg" alt="" class="img">
    <span class="text">Shellfish</span>
  </li>
  <li class="item" (click)="redirectTo()">
    <img src="/assets/images/svg-icons/meals/Soy.svg" alt="" class="img">
    <span class="text">Soy</span>
  </li>
  <li class="item" (click)="redirectTo()">
    <img src="/assets/images/svg-icons/meals/Sulfite.svg" alt="" class="img">
    <span class="text">Sulfite</span>
  </li>
  <li class="item" (click)="redirectTo()">
    <img src="/assets/images/svg-icons/meals/Tree_Nut.svg" alt="" class="img">
    <span class="text">Tree Nut</span>
  </li>
  <li class="item" (click)="redirectTo()">
    <img src="/assets/images/svg-icons/meals/Wheat.svg" alt="" class="img">
    <span class="text">Wheat</span>
  </li>
</ul>
