@import "variables";
@import "mixins";

ion-card.card__wrapper {
    margin: 0;
    background: var(--white);
    box-shadow: none;
    border-radius: 0;

    ion-card-content {
        padding: 16px 0;
    }

}


.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__img {
        @include border-radius-12;
        height: 153px;
        width: auto;
        background-image: url("/assets/images/news.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__title {
        @include btnTextMonserat12(var(--dark-gray));
    }

    &__text {
        @include mt4;
        @include textMonserat12();
    }

    &__more {
        font-family: $font-family-helvetica;
        font-size: 12px;
        font-weight: 300;
        line-height: 15px;
        color: $blue2;
    }
}
