<app-main-layout
        [titlePage]="pageTitle"
        [isNeedBack]="true"
        [isNeedBgWhite]="true"
>
<!--    <app-button-layout [listBtnForLayout]="listBtnForLayout.TRACKING">-->
        <div class="training">
            <div class="training__row flex-column">
                <span class="training__label">
                  Exercises
                </span>
                <div class="d-flex ion-align-items-center ion-justify-content-between">
                    <ion-item lines="none" color="warning">
                        <ion-label class="select-orange-placeholder" slot="start" *ngIf="!selectedExercises">Select</ion-label>
                        <ion-select placeholder="" [(ngModel)]="selectedExercises" class="select-orange">
                            <ion-select-option value="f">Exercises 1</ion-select-option>
                            <ion-select-option value="m">Exercises 2</ion-select-option>
                            <ion-select-option value="m">Exercises 3</ion-select-option>
                        </ion-select>
                        <span class="material-icons"  slot="end">
                      arrow_drop_down
                      </span>
                    </ion-item>

                    <ion-button (click)="addExercise()" expand="block" color="warning" size="small"
                    >
                        <ion-icon name="add" slot="icon-only"></ion-icon>
                    </ion-button>
                </div>


            </div>
            <div class="training__row flex-column">
               <span class="training__label">
                    Exercise name
                </span>
                <div class="d-flex ion-align-items-center ion-justify-content-between">

                    <ion-item lines="none" color="light">
                        <ion-input placeholder="Squats"></ion-input>
                    </ion-item>
                    <ion-button (click)="addImage()" expand="block" color="light"
                    >
                        <ion-icon name="camera" color="warning"  slot="icon-only"></ion-icon>
                    </ion-button>
                </div>


            </div>
            <div class="training__row training__row--wrap">
                <span class="training__label">
                    Sets
                </span>
                <div class="d-flex ion-align-items-center">
                    <ion-item lines="none" style="width: 125px; " class="select-filter-item">
                        <ion-label class="select-white-placeholder" slot="start" *ngIf="!selectedWeight">Weight (kg)</ion-label>
                        <ion-select placeholder="" [(ngModel)]="selectedWeight">
                            <ion-select-option value="f">100</ion-select-option>
                            <ion-select-option value="m">200</ion-select-option>
                            <ion-select-option value="m">300</ion-select-option>
                        </ion-select>
                            <span class="material-icons"  slot="end">
                          arrow_drop_down
                          </span>
                    </ion-item>
                    <ion-item lines="none" style="width: 125px;" class="select-filter-item">
                        <ion-label class="select-white-placeholder" slot="start" *ngIf="!selectedReps">Reps</ion-label>
                        <ion-select placeholder="" [(ngModel)]="selectedReps">
                            <ion-select-option value="f">Reps 1</ion-select-option>
                            <ion-select-option value="m">Reps 2</ion-select-option>
                            <ion-select-option value="m">Reps 3</ion-select-option>
                        </ion-select>
                        <span class="material-icons"  slot="end">
                      arrow_drop_down
                      </span>
                    </ion-item>

                    <ion-button (click)="addExercise()" expand="block" color="light" class="sets-add-btn"
                    >
                        <ion-icon name="add" slot="icon-only"></ion-icon>
                    </ion-button>
                </div>

            </div>
            <div class="training__row">
                <div class="table">
                    <div class="table__tr">
                        <div class="table__td">Set</div>
                        <div class="table__td">Weight (kg)</div>
                        <div class="table__td">Reps</div>
                    </div>
                    <div class="table__tr">
                        <div class="table__td">Goal</div>
                        <div class="table__td">150</div>
                        <div class="table__td">3</div>
                    </div>
                    <div class="table__tr">
                        <div class="table__td">1</div>
                        <div class="table__td">90</div>
                        <div class="table__td">
                            3
                            <div class="actions">
                                <ion-icon name="close"></ion-icon>
                            </div>
                        </div>
                    </div>
                    <div class="table__tr table__tr--selected">
                        <div class="table__td">2</div>
                        <div class="table__td">100</div>
                        <div class="table__td">
                            3
                            <div class="actions">
                                <ion-icon name="close"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="training__row">
                <div class="training__buttons">
                    <ion-button color="dark" expand="block" (click)="deleteExercise()">
                        <div class="training__btn">
                            <span class="training__btn-text">Delete</span>
                        </div>
                    </ion-button>
                   <!-- <ion-button color="secondary" expand="block" (click)="saveExercise()">
                        <div class="training__btn">
                            <span class="training__btn-text">Save exercise</span>
                        </div>
                    </ion-button>-->
                    <ion-button color="warning" expand="block" (click)="saveProgram()">
                        <div class="training__btn">
                            <span class="training__btn-text">Save programme</span>
                        </div>
                    </ion-button>
                </div>
            </div>
        </div>
<!--    </app-button-layout>-->
</app-main-layout>
