<app-main-layout
        [titlePage]="pageTitle"
>
  <app-button-layout  [listBtnForLayout]="listBtnForLayout.TRACKING">
      <app-button-into-layout style="height: 100%" [listBtnForLayout]="listBtnForLayout.BODY">

          <div class="add-body ion-align-items-center ion-justify-content-center">
              <div class="add-body__title">
                  Add your body composition
              </div>
              <div class="add-body__text">
                  Record your body composition for the first time!
              </div>

              <ion-button expand="block" (click)="addBodyComp()" color="secondary" class="add-body__btn">
                  <div class="d-flex flex ion-justify-content-center ion-align-items-center">
                      <div class="add-body__btn-text">Add body composition</div>
                  </div>
              </ion-button>
          </div>

      </app-button-into-layout>
  </app-button-layout>
</app-main-layout>
