@import "variables";
@import "mixins";

:host {
    ::ng-deep {
        app-button-layout .layout-content {
            height: inherit;
            min-height: 100%;
        }
        .event-detail-container {
            border-top: 0!important;
        }

        calendar {
            .table-bordered {
                border: 0!important;
            }
            th {
                border: 0!important;
                font-family: $font-family-oswald;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: var(--ion-color-warning);
                small {
                    font-size: 14px;
                }
            }
            td {
                @include textMonserat12();
                border: 0!important;
                width: 46px;
                height: 46px;
                vertical-align: middle!important;
            }

            td.monthview-selected {
                border-radius: 50%;
                background: var(--ion-color-warning);
                color: var(--white);
                font-weight: 600;
            }
            td.monthview-current {
                border-radius: 50%;
            }
        }



    }

}

.calendar {
    display: flex;
    flex-direction: column;
    // height: calc(100% - 66px);
   // padding-top: 0;
   // background: $white;
//
   // border-top-right-radius: 15px;
   // border-top-left-radius: 15px;

    &__block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px 32px;
        border-bottom: 0.5px solid $gray;

        &--calendar {
            display: block;
           // width: 330px;
        }
    }

    &__day-title {
        @include mb24;
        @include btnTextMonserat12(var(--ion-color-warning));
        margin: 18px;
    }
}
.control {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__title {
       @include titleSemi16()
    }

    ion-button {
        --background: transparent!important;
        --ion-color-base: transparent!important;
        --box-shadow: none;
    }
}

.custom-day-template {
    font-family: $font-family-oswald;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $dark-gray1;
}

