@import "variables";

:host {
    ::ng-deep {
        app-button-layout .layout-content {
            height: inherit;
            min-height: 100%;
        }

        calendar {
            .table-bordered {
                border: 0!important;
            }
            th {
                border: 0!important;
                font-family: $font-family-oswald;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: $blue;
                small {
                    font-size: 14px;
                }
            }
            td {
                border: 0!important;
                font-family: $font-family-oswald;
                font-weight: 300;
                font-size: 14px;
                line-height: 16px;
                color: $dark-gray1;
            }

            td.monthview-selected {
                border-radius: 2px;
                background: $dark-gray1;
                color: $white;
                font-weight: 400;
                box-shadow: 0 3px 6px 0 $light-gray1;
            }
        }



    }

}

.calendar {
    display: flex;
    flex-direction: column;
    // height: calc(100% - 66px);
   // padding-top: 0;
   // background: $white;
//
   // border-top-right-radius: 15px;
   // border-top-left-radius: 15px;

    &__block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 22px 32px;
        border-bottom: 0.5px solid $gray;

        &--calendar {
            display: block;
           // width: 330px;
        }
    }

    &__day-title {
        align-self: flex-start;
        margin-bottom: 25px;
        font-family: $font-family-helvetica;
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        color: $blue2;
    }
}
.control {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__title {
        font-family: $font-family-helvetica;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        color: $dark-gray1;
    }

    ion-button {
        --background: transparent!important;
        --ion-color-base: transparent!important;
        --box-shadow: none;
    }
}

.custom-day-template {
    font-family: $font-family-oswald;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $dark-gray1;
}

