@import "mixins";

.slide {
    @include border-radius-12;
    @include box-shadow;

    position: relative;
    //width: 162px!important;
    min-width: 287px;
    // margin: auto 10px;
    background-repeat: no-repeat;

    &:before {
        @include border-radius-12;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 33%, rgba(0, 0, 0, 0.5) 49%, rgba(0, 0, 0, 0.7) 65%, #000000 100%);
    }

    &__img {
        @include border-radius-12;
        height: 230px;
        width: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: var(--gray);
    }

    &__wrap {
        position: absolute;
        left: 16px;
        bottom: 16px;
        right: 16px;

        display: flex;
        justify-content: space-between;
    }

    &__title {
        @include btnTextSemi13(var(--white));
    }

    /*&__text {
        @include textMonserat12($light-gray2)
    }

    &__icon {
        margin-right: 6px;
        color: $light-gray2;
    }*/

   /* &__arrow-forward {
        position: absolute;
        top: 0;
        right: -5px;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        z-index: 10;
        display: flex;
        align-items: center;
    }

    &__arrow-back {
        position: absolute;
        top: 0;
        left: -5px;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        z-index: 10;
        display: flex;
        align-items: center;
    }*/
}
