@import "variables";
@import "mixins";

.notify {
    display: flex;
    padding-bottom: 16px;

    &__list {
        padding-top: 22px;
    }

    .img-wrap {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__img {
        width: 32px;
        height: 32px;
        padding: 0;
        border-radius: 50%;
    }

    &__wrapper {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        padding: 10px;
        justify-content: center;
    }

    &__title {
        margin-bottom: 2px;

        font-family: $font-family-oswald;
        font-size: 20px;
        line-height: 30px;
        font-weight: 300;
        color: $dark-gray1;

        &--new {
            color: $blue;
        }
    }

    &__text {
        @include textMonserat12;
        display: block;
    }
}

.system {
    .notify__img {
        width: 24px;
        height: 24px;
        filter: opacity(0.5);
    }
}
