@import "variables";
@import "mixins";

:host {
   /* ::ng-deep ion-content {
        --background: $gray;
    }*/
    ::ng-deep .news__card > ion-card.card__wrapper {
        box-shadow: none;
    }
}

.challenge {
        display: flex;
        flex-direction: column;
        //height: calc(100% - 66px);
        padding-top: 0px;
        background: $white;

        border-top-right-radius: 15px;
        border-top-left-radius: 15px;

    .material-icons {
        margin-right: 5px;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 26px;
    }

    /*&__title {
        font-family: $font-family-helvetica;
        font-size: 12px;
        line-height: 15px;
        font-weight: 300;
        color: $dark-gray1;
    }*/

    &__text {
        @include btnTextMonserat12($dark-gray)
    }

    &__goal {
        @include titleSemi16(var(--ion-color-warning));
    }

    &__buttons {
        display: flex;
        justify-content: space-between;

        ion-button {
            margin: 0;
            max-width: 145px;
            @include bthHeight;
        }
    }

    &__btn {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        margin: 11px;

    }

    &__btn-text {
        @include btnTextMonserat12()
    }

}

.divisor {
    width: 100%;
    height: 1px;
    margin-top: 0px;
    margin-bottom: 25px;

    background: #B8B8B8;
}

.gray {
    color: $dark-gray;
}

.warning {
    color: var(--ion-color-warning);
}
