<app-main-layout
        [titlePage]="pageTitle"
        [isNeedBack]="true"
        [isNeedFilter]="false"
        [isHideBoxShadow]="true"
        [isNeedBgWhite]="true"
>
    <div class="challenge">
        <app-card-challenge [needDescription]="true" class="news__card"></app-card-challenge>

        <div class="divisor"></div>

        <div class="challenge__block ion-padding-start ion-padding-end">
            <div class="d-flex ion-align-items-center">
                  <span class="material-icons gray ">
                        event_available
                    </span>
                <span class="challenge__text ">
                     21 jan 2020 - 21 feb 2020
                  </span>
            </div>
            <div class="d-flex ion-align-items-center">
                 <span class="material-icons warning">
                    outlined_flag
                    </span>
                <span class="challenge__goal">
                         5000m
                     </span>
            </div>


        </div>
        <div class="divisor"></div>
        <div class="challenge__buttons ion-padding-start ion-padding-end">
            <ion-button
                    class="challenge__btn"
                    [color]="'dark'"
                    expand="block"
                    (click)="connectDevice()"
            >
                <span class="challenge__btn-text">Connect device</span>
            </ion-button>
            <ion-button
                    class="challenge__btn"
                    [color]="'warning'"
                    expand="block"
                    (click)="joinChallenge()"
            >
                <span class="challenge__btn-text">Join challenge</span>
            </ion-button>
        </div>

    </div>

</app-main-layout>
