@import "variables";
@import "mixins";


.measurements {
    display: flex;
    flex-direction: column;
    width: 100%;
    // padding-top: 22px;

    &__btn {
        @include border-radius-8;
        @include bthHeight;
        width: 185px;
    }

    &__btn-text {
        @include btnTextMonserat12()
    }

    ion-item {
        height: 40px;
        box-shadow: 0 3px 6px 0 $light-gray1;
        border: 1px solid $gray;
        --padding-start: 10px;
        width: 100%;

        ion-select {
            max-width: 100%;
            --padding-start: 0px;
            width: 100%;
        }

        >  ion-icon {
            margin-top: 3px;
            margin-right: 0;
        }
    }

    ion-card {
        width: 100%;
        margin-bottom: 0;
        @include border-radius-8;

        @include border1;

        background-color: var(--white);
        box-shadow: none;

        &:first-of-type {
            margin-top: 12px;
        }
        &:last-of-type {
            margin-bottom: 23px;
        }
    }

    &__card {
        width: 100%;
        padding: 17px 23px 23px 23px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__col {
        // flex: 1 0 200px;
        display: flex;
        align-items: flex-start;
        &:first-of-type {
            flex-direction: column;
        }
        &:last-of-type {

        }
    }

    &__label {
        @include btnTextMonserat12(--dark-gray)
    }


    &__count {
        @include titleSemi44();
    }

    &__text {
        @include btnTextSemi13(var(--light-gray2));
        margin-top: 9px;
        //margin-left: 2px
    }


    &__changed {
        display: flex;
        align-items: center;

        margin-top: 6px;

        ion-icon {
            width: 12px;
            font-size: 12px;
            margin-top: 8px;
            margin-left: 4px;
        }

        &--equal {
            .measurements__text {
                @include textMonserat12(var(--dark-gray));
                text-transform: none;
            }
        }

        &--up {
            .measurements__text {
                @include textMonserat12(var(--ion-color-warning));
                text-transform: none;
            }
        }

        &--down {
            .measurements__text {
                @include textMonserat12(var(--ion-color-secondary));
                text-transform: none;
            }
        }
    }




}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 1px solid var(--light-gray2);
    padding-top: var(--ion-padding);
    padding-bottom: var(--ion-padding);
}

.month {
    display: flex;
    align-items: center;

    &__text {
        @include btnTextMonserat12(var(--dark-gray));
        display: block;
        margin-right: 24px;
        margin-left: 24px;
    }

    ion-icon {
        color: var(--light-gray2);
    }
}

