<app-main-layout
        [titlePage]="pageTitle"
>
  <app-button-layout [listBtnForLayout]="listBtnForLayout.NEWS">
    <div class="members ion-padding-start ion-padding-end">
      <div class="members__icon">

      </div>
      <div class="members__title">
        Tick some preferences
      </div>
      <div class="members__text">
        Select what kind of like-minded people you want to appear here (you can change these later):
      </div>
      <label class="fake-checkbox">
        <span class="fake-checkbox__text">New friends</span>
        <input class="fake-checkbox__input" type="checkbox"  checked name="friends">
        <span class="fake-checkbox__label">
          <ion-icon src="assets/images/svg-icons/ios-checkmark.svg"></ion-icon>
        </span>
      </label>

      <label class="fake-checkbox">
        <span class="fake-checkbox__text">Chat</span>
        <input class="fake-checkbox__input" type="checkbox" name="friends">
        <span class="fake-checkbox__label">
          <ion-icon src="assets/images/svg-icons/ios-checkmark.svg"></ion-icon>
        </span>
      </label>

      <label class="fake-checkbox">
        <span class="fake-checkbox__text">Gym buddy</span>
        <input class="fake-checkbox__input" type="checkbox" name="friends">
        <span class="fake-checkbox__label">
          <ion-icon src="assets/images/svg-icons/ios-checkmark.svg"></ion-icon>
        </span>
      </label>

      <label class="fake-checkbox">
        <span class="fake-checkbox__text">Networking</span>
        <input class="fake-checkbox__input" type="checkbox" name="friends">
        <span class="fake-checkbox__label">
          <ion-icon src="assets/images/svg-icons/ios-checkmark.svg"></ion-icon>
        </span>
      </label>

      <label class="fake-checkbox">
        <span class="fake-checkbox__text">Dating</span>
        <input class="fake-checkbox__input" type="checkbox" name="friends">
        <span class="fake-checkbox__label">
          <ion-icon src="assets/images/svg-icons/ios-checkmark.svg"></ion-icon>
        </span>
      </label>

      <ion-button expand="full" (click)="apply()" color="secondary" class="members__btn">
        <div class="d-flex flex ion-justify-content-center ion-align-items-center">
          <div class="members__btn-text">Apply</div>
          <ion-icon name="arrow-forward"></ion-icon>
        </div>
      </ion-button>
    </div>

  </app-button-layout>
</app-main-layout>
