<div class="modal">
    <div class="modal-header">
        <div></div>
    </div>
  <div class="modal-body">
    <span class="title">Spin class</span>
    <div *ngIf="isToggled" class="d-flex ion-align-items-center mt8">
      <ion-icon name="checkmark-circle-outline" color="warning"></ion-icon>
      <span class="booked">Booked</span>
    </div>
    <div class="d-flex ion-align-items-center mt16">
                  <span class="material-icons gray ">
                        event_available
                    </span>
      <span class="event__text ">
       Tue 2nd July – 07:30
                  </span>
    </div>
    <span class="event__text ">
    Spaces available: <b>10</b>
                  </span>
  </div>
  <div class="divisor"></div>
  <div class="modal-body">
    <ion-button [color]="isToggled ? 'light' :'warning' " (click)="isToggled = !isToggled">
      <span [ngClass]="isToggled ? 'cancel' : ''">{{isToggled ? 'Cancel booking' : 'Book Now'}}</span>
    </ion-button>  </div>
  <div class="modal-footer">
    <div></div>
  </div>
</div>
