$white: #ffffff;

$black-menu: #1A1A1A;

$ligth-black: #2D2D2D;
$black1: #111111;



$light-gray: #F2F2F2; //orange
$light-gray1: #00000029;
$light-gray2: #DCDCDC;
$light-gray3: #C4C9CF;

$gray: #DFE5EE;
$gray1: #707070;
$dark-gray: #3A3E47;//orange
$dark-gray1: #363636;

$blue: #009AEA;
$blue2:#00A8FF;

$invalid-color: red;
$success-color: var(--ion-color-success);

$font-family: "Open Sans", sans-serif;

$font-family-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-family-oswald: "Oswald", sans-serif;

$font-family-montserrat: "Montserrat", sans-serif;

$font-family-semi: "Encode Sans Semi Condensed", sans-serif;
