.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex {
    flex: 1 0 auto;
}

.p0 {
    padding: 0;
}

.pl12 {
    padding-left: 12px;
}

.pl18 {
    padding-left: 18px;
}

.pl28 {
    padding-left: 28px;
}

.pl32 {
    padding-left: 32px;
}

.pr12 {
    padding-right: 12px;
}

.ml15 {
    margin-left: 15px;
}


.mr16 {
    margin-right: 16px;
}


.mt8 {
    margin-top: 8px;
}

.mt20 {
    margin-top: 20px;
}



.mt16 {
    margin-top: 16px;
}

.mt25 {
    margin-top: 15px;
}

.mb8 {
    margin-bottom: 8px;
}


.mb24 {
    margin-bottom: 24px;
}

.mb40 {
    margin-bottom: 40px;
}

.pos-relative {
    position: relative;
}

ul {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}
