@mixin mt8 {
    margin-top: 8px;
}

@mixin mt16 {
    margin-top: 16px;
}

@mixin mt22 {
    margin-top: 22px;
}

@mixin mt24 {
    margin-top: 24px;
}

@mixin ml16 {
    margin-left: 16px;
}

@mixin mr8 {
    margin-right: 8px;
}

@mixin mr16 {
    margin-right: 16px;
}

@mixin mb8 {
    margin-bottom: 8px;
}

@mixin mb16 {
    margin-bottom: 16px;
}

@mixin mb24 {
    margin-bottom: 24px;
}

@mixin mb32 {
    margin-bottom: 32px;
}

@mixin m24 {
    margin: 24px;
}

@mixin p12 {
    padding: 12px;
}

@mixin border-radius-8 {
    border-radius: 8px;
}

@mixin border-radius-12 {
    border-radius: 12px;
}

@mixin border1($color-value: var(--light-gray2)) {
    border: 1px solid $color-value;
}

@mixin titleSemi16($color-value: var(--dark-gray)) {
    font-family: var(--font-family-semi);
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.41px;
    text-transform: uppercase;
    color: $color-value;
}

@mixin titleSemi20($color-value: var(--dark-gray)) {
    font-family: var(--font-family-semi);
    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-value;
}

@mixin titleSemi24($color-value: var(--ion-color-warning)) {
    font-family: var(--font-family-semi);
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-value;
}

@mixin titleSemi44($color-value: var(--dark-gray)) {
    font-family: var(--font-family-semi);
    font-size: 44px;
    font-weight: 800;
    line-height: 55px;
    color: $color-value;
}

@mixin textMonserat10($color-value: var(--light-gray2)) {
    font-family: var(--font-family-montserrat);
    font-size: 12px;
    font-weight: 500;
    line-height: 13px;
    color: $color-value;
}

@mixin textMonserat12($color-value: var(--dark-gray)) {
    font-family: var(--font-family-montserrat);
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    color: $color-value;
}

@mixin textMonserat14($color-value: var(--dark-gray)) {
    font-family: var(--font-family-montserrat)!important;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: $color-value!important;
}


@mixin bthHeight {
    height: 40px;
}

@mixin btnTextMonserat12($color-value: var(--white)) {
    font-family: var(--font-family-montserrat)!important;
    font-weight: 600;
    font-size: 12px!important;
    line-height: 15px;
    text-align: center;
    color: $color-value!important;
}
@mixin btnTextMonserat13($color-value: var(--white)) {
    font-family: var(--font-family-montserrat)!important;
    font-weight: 600;
    font-size: 13px!important;
    line-height: 16px;
    text-align: center;
    color: $color-value!important;
}


@mixin btnTextSemi13($color-value: var(--ion-color-warning)) {
    font-family: var(--font-family-semi);
    font-weight: 800;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: $color-value;
    text-transform: uppercase;
}

@mixin transparentBtn {
    --background: transparent!important;
    --ion-color-base: transparent!important;
    --background-hover: #d7d8da;
    --background-focused: #d7d8da;
    --background-activated: #d7d8da;
    --box-shadow: none;
}

@mixin lightBtn {
    @include border-radius-8;
    --background: var(--white);
    --ion-color-base: var(--white)!important;
    --background-hover: var(--ion-color-light-shade);
    --background-focused: var(--ion-color-light-shade);
    --background-activated: var(--ion-color-light-shade);
    --box-shadow: 0 2px 4px 0 var(--light-gray1);
}

@mixin box-shadow {
    box-shadow: 0 2px 4px 0 var(--light-gray1);
}
