@mixin mt16 {
    margin-top: 16px;
}

@mixin mt22 {
    margin-top: 22px;
}


@mixin ml16 {
    margin-left: 16px;
}
@mixin mr16 {
    margin-right: 16px;
}


@mixin mb16 {
    margin-bottom: 16px;
}

@mixin border-radius-8 {
    border-radius: 8px;
}
