<app-main-layout
        [titlePage]="pageTitle"
>
    <app-button-layout [listBtnForLayout]="listBtnForLayout.MEALS">

        <div class="library">
            <div class="library__header">
                <div class="stat__col">
                    <div class="chart">
                        <span>Chart</span>
                    </div>
                </div>

            </div>
            <app-calories></app-calories>
          <div class="divisor"></div>
            <div class="library__name-day">
                Monday
              <ion-button (click)="add()" expand="block" color="light" size="small"
              >
                <ion-icon name="add" color="warning" slot="icon-only"></ion-icon>
              </ion-button>
            </div>
            <div class="library__header library__header--p0">

                <ion-slides #slider pager="false" [options]="slideOpts" class="custom-slides">
                    <ion-slide *ngFor=" let slide of sliders">
                        <div class="card-program">
                            <div class="card-program__img"
                                 [ngStyle]="{'background-image':'url(/assets/images/meals-slide@2x.png)'}"></div>
                            <!-- <ion-img src="/assets/images/meals-slide@2x.png" class="card-program__img"></ion-img>-->
                            <div class="card-program__wrapper">
                                <span class="card-program__title">Egg salad</span>

                                <span class="card-program__test">Full of healthy fats, fruits & veggies</span>
                                <div class="card-program__delete" (click)="deleteSlide()">
                                    <ion-icon name="close" color="dark"></ion-icon>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slides>

            </div>
            <div class="library__name-day">
                Tuesday
                <ion-button (click)="add()" expand="block" color="light" size="small"
                >
                    <ion-icon name="add" color="warning" slot="icon-only"></ion-icon>
                </ion-button>
            </div>
            <div class="library__header library__header--p0">

                <ion-slides #slider pager="false" [options]="slideOpts" class="custom-slides">
                    <ion-slide *ngFor=" let slide of sliders">
                        <div class="card-program">
                            <div class="card-program__img"
                                 [ngStyle]="{'background-image':'url(/assets/images/meals-slide@2x.png)'}"></div>
                            <div class="card-program__wrapper">
                                <span class="card-program__title">Egg salad</span>

                                <span class="card-program__test">Full of healthy fats, fruits & veggies</span>
                                <div class="card-program__delete" (click)="deleteSlide()">
                                    <ion-icon name="close" color="dark"></ion-icon>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slides>

            </div>

            <div class="library__name-day">
                Wednesday
                <ion-button (click)="add()" expand="block" color="light" size="small"
                >
                    <ion-icon name="add" color="warning" slot="icon-only"></ion-icon>
                </ion-button>
            </div>
            <div class="library__header library__header--p0">

                <ion-slides #slider pager="false" [options]="slideOpts" class="custom-slides">
                    <ion-slide *ngFor=" let slide of sliders">
                        <div class="card-program">
                            <div class="card-program__img"
                                 [ngStyle]="{'background-image':'url(/assets/images/meals-slide@2x.png)'}"></div>
                            <div class="card-program__wrapper">
                                <span class="card-program__title">Egg salad</span>

                                <span class="card-program__test">Full of healthy fats, fruits & veggies</span>
                                <div class="card-program__delete" (click)="deleteSlide()">
                                    <ion-icon name="close" color="dark"></ion-icon>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slides>

            </div>

            <div class="library__name-day">
                Thursday
                <ion-button (click)="add()" expand="block" color="light" size="small"
                >
                    <ion-icon name="add" color="warning" slot="icon-only"></ion-icon>
                </ion-button>
            </div>
            <div class="library__header library__header--p0">

                <ion-slides #slider pager="false" [options]="slideOpts" class="custom-slides">
                    <ion-slide *ngFor=" let slide of sliders">
                        <div class="card-program">
                            <div class="card-program__img"
                                 [ngStyle]="{'background-image':'url(/assets/images/meals-slide@2x.png)'}"></div>
                            <div class="card-program__wrapper">
                                <span class="card-program__title">Egg salad</span>

                                <span class="card-program__test">Full of healthy fats, fruits & veggies</span>
                                <div class="card-program__delete" (click)="deleteSlide()">
                                    <ion-icon name="close" color="dark"></ion-icon>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slides>

            </div>

            <div class="library__name-day">
                Friday
              <ion-button (click)="add()" expand="block" color="light" size="small"
              >
                <ion-icon name="add" color="warning" slot="icon-only"></ion-icon>
              </ion-button>
            </div>
            <div class="library__header library__header--p0">

                <ion-slides #slider pager="false" [options]="slideOpts" class="custom-slides">
                    <ion-slide *ngFor=" let slide of sliders">
                        <div class="card-program">
                            <div class="card-program__img"
                                 [ngStyle]="{'background-image':'url(/assets/images/meals-slide@2x.png)'}"></div>
                            <div class="card-program__wrapper">
                                <span class="card-program__title">Egg salad</span>

                                <span class="card-program__test">Full of healthy fats, fruits & veggies</span>
                                <div class="card-program__delete" (click)="deleteSlide()">
                                    <ion-icon name="close" color="dark"></ion-icon>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slides>

            </div>

            <div class="library__name-day">
                Saturday
                <ion-button (click)="add()" expand="block" color="light" size="small"
                >
                    <ion-icon name="add" color="warning" slot="icon-only"></ion-icon>
                </ion-button>
            </div>
            <div class="library__header library__header--p0">

                <ion-slides #slider pager="false" [options]="slideOpts" class="custom-slides">
                    <ion-slide *ngFor=" let slide of sliders">
                        <div class="card-program">
                            <div class="card-program__img"
                                 [ngStyle]="{'background-image':'url(/assets/images/meals-slide@2x.png)'}"></div>
                            <div class="card-program__wrapper">
                                <span class="card-program__title">Egg salad</span>

                                <span class="card-program__test">Full of healthy fats, fruits & veggies</span>
                                <div class="card-program__delete" (click)="deleteSlide()">
                                    <ion-icon name="close" color="dark"></ion-icon>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slides>

            </div>

            <div class="library__name-day">
                Sunday
                <ion-button (click)="add()" expand="block" color="light" size="small"
                >
                    <ion-icon name="add" color="warning" slot="icon-only"></ion-icon>
                </ion-button>
            </div>
            <div class="library__header library__header--p0">

                <ion-slides #slider pager="false" [options]="slideOpts" class="custom-slides">
                    <ion-slide *ngFor=" let slide of sliders">
                        <div class="card-program">
                            <div class="card-program__img"
                                 [ngStyle]="{'background-image':'url(/assets/images/meals-slide@2x.png)'}"></div>
                            <div class="card-program__wrapper">
                                <span class="card-program__title">Egg salad</span>
                                <span class="card-program__test">Full of healthy fats, fruits & veggies</span>
                                <div class="card-program__delete" (click)="deleteSlide()">
                                    <ion-icon name="close" color="dark"></ion-icon>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slides>

            </div>

        </div>
    </app-button-layout>
</app-main-layout>
