@import "mixins";

.library {
    display: flex;
    flex-direction: column;
    //height: calc(100% - 66px);
    //padding-top: 30px;
    background: var(--white);

    &__header {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 24px 32px;
        margin-bottom: 20px;
        // border-bottom: 0.5px solid $gray;

        ion-button {
            height: 36px;
            width: 44px;

        }
        ion-icon {
            font-size: 14px;
        }

        .custom-slides {
            padding: 22px 0;
        }

        &--p0 {
            padding: 0;
            margin-bottom: 0;
            margin-left: 24px;
        }
    }

    &__name-day {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 32px;

       @include titleSemi16();

        ion-button {
            --border-radius: 8px;
            height: 40px;
            width: 40px;
            margin-left: 14px;
            box-shadow: none;
            --box-shadow: none;
        }

        ion-icon {
            font-size: 18px;
        }

        &:first-of-type {
            margin-top: 15px;
        }
    }

    .chart {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 144px;
        height: 144px;
        margin-left: 10px;
        background: url("/assets/images/chart@2x.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
    }

}
.slide {
    position: relative;
    //width: 162px;
    margin: auto 10px;
    border-bottom: 0.5px solid var(--gray);
    box-shadow: 0 3px 6px 0 var(--light-gray1);
    border-radius: 2px;

    ion-img {
        height: 100px;
        width: auto;
        background-color: var(--gray);
    }

    &__title {
        margin: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        @include btnTextSemi13(var(--dark-gray))
    }
}

.md,
.ios,
.wp {
    .swiper-slide {
        // width: 231px !important;
    }
}

.library__list {
    padding: 0 32px;

    ion-card {
        margin-left: 0;
        margin-right: 0;
        border-radius: 2px;
    }
}

ion-card {
    border-radius: 2px;
    margin: 6px 12px;
}

.card-program {
    @include border-radius-8;

    display: flex;
   // width: 231px;
    height: 84px;
    min-width: 242px;
    margin-right: 5px;
    margin-left: 5px;

    border: 1px solid var(--gray);

    &__img {
        width: 80px;
        min-width: 80px;

        background-color: var(--gray);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__wrapper {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }
    &__title {
       @include mb8;
       @include btnTextSemi13(--dark-gray)
    }

    &__test {
        @include textMonserat12();
        text-align: left;
    }

    &__delete {
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;

        ion-icon {
            font-size: 20px;
        }
    }

}

app-calories {
    @include mb16;
}

.divisor {
    margin-bottom: 22px;
    width: 100%;
    height: 14px;

    background: var(--light-gray2);
}
