@import "variables";
@import "mixins";

:host {
    ::ng-deep ion-content {
        --background: $gray;
    }
}


.add-device {
    display: flex;
    flex-direction: column;
    height: calc(100% - 59px);
    padding-top: 0;
    background: $white;

    &__title {
        @include mb8;
        @include titleSemi16;
    }

    &__text {
       @include mb32;
       @include textMonserat12;
    }

    &__btn {
        @include bthHeight;
        width: 172px;
    }

    &__btn-text {
        @include btnTextMonserat12;
    }
}

.add-device__img {
    @include mb32;
    width: 32px;
    height: 56px;
    background-color: gray;
}
