@import "mixins";


.add-device {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 0;

    &__title {
        @include mb8;
        @include titleSemi16;
    }

    &__text {
       @include mb32;
       @include textMonserat12;
    }

    &__btn {
        @include bthHeight;
        width: 172px;
    }

    &__btn-text {
        @include btnTextMonserat12;
    }
}

.add-device__img {
    @include mb32;
    width: 56px;
    height: 56px;
    background-image: url("/assets/images/png-icons/add-device-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
