@import "../../../styles/variables";
@import "mixins";

ion-content {
    --background: linear-gradient(89deg, rgba(44, 47, 54, 0.89) 0%, rgba(58, 62, 71, 0.89) 100%),
    url("/assets/images/login_bg.png") center no-repeat;
}

ion-list {
    background: transparent;
}

ion-item {
    --background: transparent;
    border-bottom: 1px solid $white;
    transition: border-bottom-color 0.2s;



    &.login-item {
        @include border-radius-8;

        --padding-start: 0;
        --inner-padding-end: 0;
    }

    &.ion-untouched {
        border-bottom: 1px solid transparent;
    }

    &.invalid {
        border-bottom: 1px solid $invalid-color !important;
    }

    &.ion-valid {
        border-bottom: 1px solid var(--ion-color-success) !important;
    }


    &.item-has-focus {
        .login__label {
            margin-left: 0;
        }
    }
}

ion-label {
    font-family: $font-family-montserrat!important;
    font-weight: 400;
    font-size: 12px!important;
}

.login__label {
    @include ml16;
    font-weight: 500;
    color: $light-gray3;
    z-index: 10;
}

.logo {
    margin-top: 24vh;

    &__text {
        margin-bottom: 12px;

        font-family: $font-family-semi;
        font-weight: 800;
        font-size: 13px;
        line-height: 17px;
        color: $light-gray;
        text-transform: uppercase;
    }
}

.login__form {
    background: transparent;
}

.login__btn {
    @include mt16();
    height: 2.4em;

    margin-bottom: 115px;

    &-text {
        font-family: $font-family-montserrat!important;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: white;
    }

    ion-icon {
        font-size: 12px;
    }
}
.create-btn {
    width: 150px;
    height: 2.4em;
    // --ion-color-base: transparent!important;
    --box-shadow: none;
}
.create-btn-text {
    font-family: $font-family-montserrat!important;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: white;
}

ion-footer ion-toolbar {
    --border-width: 0px;
    --background: #363636;
}

.remember {
    font-weight: 600;
}

ion-input {
    @include border-radius-8;

    --padding-start: 16px !important;

    font-family: $font-family-montserrat!important;
    font-weight: 600;
    font-size: 12px;
    color: $light-gray3!important;
    background: $dark-gray;
}

.logo-col {
    padding-inline-start: 0;
}

.create-text {
    font-family: $font-family-montserrat!important;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: $light-gray3;
}
