@import "variables";

.stat-by-device {
    display: flex;
    flex-direction: column;
    padding-bottom: 22px;
    background-color: $white;

    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    ion-item {
        height: 40px;
        box-shadow: 0 3px 6px 0 $light-gray1;

        >  ion-icon {
            margin-top: 3px;
            margin-right: 0;
        }
    }

    ion-select {
        max-width: 100%;
        --padding-start: 0px;
        width: 100%;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 22px 32px;
        border-bottom: 0.5px solid $gray;
    }

    &__select-block {
        width: 100%;
        padding-top: 22px;
        padding-bottom: 22px;

        ion-item {
            border: 1px solid $gray;
            --padding-start: 10px;

            &:first-of-type {
                width: 35%
            }
            &:last-of-type {
                width: 60%;
            }
        }
    }

    &__title {
        margin-bottom: 8px;
        font-family: $font-family-oswald;
        font-size: 16px;
        color: $ligth-black;
        line-height: 24px;

    }

    &__text {
        margin-bottom: 29px;
        font-family: $font-family-helvetica;
        font-size: 12px;
        line-height: 15px;
        font-weight: 300;
        color: $ligth-black;
    }

    &__btn {
        // margin-top: auto;
        // margin-bottom: 28px;
        margin-top: 45px;
        width: 100%;
        --border-radius: 2px;
        border-radius: 2px;
        box-shadow: 0 3px 6px 0 $light-gray1;
    }

    &__btn-text {
        font-family: $font-family-oswald;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: $white;
        margin-left: 10px;
    }
}

.steps {
    width: 100%;
    margin-bottom: 15px;

    ion-icon {
        width: 27px;
        font-size: 48px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-left: 21px;
        justify-content: space-between;
        height: 100%;
    }

    &__count {
        font-family: $font-family-oswald;
        font-size: 30px;
        font-weight: 500;
        line-height: 30px;
        color: $dark-gray1;
        margin-bottom: 8px;
    }

    &__text {
        font-family: $font-family-helvetica;
        font-size: 12px;
        line-height: 15px;
        font-weight: 300;
        color: $ligth-black;
    }
}
