@import "mixins";

.stat-by-device {
    display: flex;
    flex-direction: column;
    padding-bottom: 22px;
    background-color: var(--white);

    ion-item {
        height: 43px;
        width: 155px;
        @include border-radius-8;

        >  ion-icon {
            margin-right: 0;
        }

        .material-icons {
            margin-top: -2px;
            color: var(--dark-gray);
            font-size: 30px;
            margin-inline-end: 0
        }
    }

    ion-item[color='warning'] {

        .material-icons {
            color: var(--white);
        }
    }

    ion-select {
        max-width: 100%;
        --padding-start: 0px;
        width: 100%;
    }

    &__select-block {
        width: 100%;
        padding-top: 22px;
        padding-bottom: 22px;

        ion-item {
            --padding-start: 10px;

           /* &:first-of-type {
                width: 35%
            }
            &:last-of-type {
                width: 60%;
            }*/
        }
    }

    &__btn {
        @include bthHeight;
        margin-top: 45px;
        width: 172px;
        margin-right: auto;
        margin-left: auto;
    }

    &__btn-text {
       @include btnTextMonserat12();
        margin-left: 10px;
    }

    &__label {
        @include textMonserat12();
        @include mb4;
    }
}

.steps {
    width: 100%;
    @include mb16;

    &__icon-walk {
        margin-top: 8px;
        width: 20px;
        font-size: 44px;
    }

    &__info {
        @include ml12;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__count {
        @include titleSemi44;

        margin-bottom: 6px;
    }

    &__text {
        @include textMonserat12(var(--ion-color-warning))
    }
}

.month {
    @include mt24;
    display: flex;
    align-items: center;

    &__text {
        @include btnTextMonserat12(var(--dark-gray));
        display: block;
        margin-right: 24px;
        margin-left: 24px;
    }

    ion-icon {
        color: var(--light-gray2);
        width: 27px;
        font-size: 48px;
    }
}
