<div class="submenu__buttons ion-padding-start ion-padding-end" *ngIf="template === 1">
  <ion-button *ngFor="let button of buttons"
              [color]="'light'"
              expand="block"
              (click)="toggleButton(button.redirectTo)"
              [ngClass]="{'once': buttons.length ===1, 'active-btn': button.active}"
  >
    <ion-icon src="/assets/images/svg-icons/{{button.active ? button.activeIcon : button.icon}}"></ion-icon>
    <span class="submenu__btn-text">{{button.text}}</span>
  </ion-button>
</div>

<div class="submenu-transparent__buttons ion-padding-start ion-padding-end" *ngIf="template === 2">
  <ion-button *ngFor="let button of buttons"
              (click)="toggleButton(button.redirectTo)"
              [color]="button.active ? 'warning': 'light'"
              [ngClass]="{'transparent': !button.active}"
  >
    <ion-icon src="/assets/images/svg-icons/{{button.active ? button.activeIcon: button.icon}}" slot="icon-only"></ion-icon>
  </ion-button>


</div>
<div class="layout-content">
  <ng-content></ng-content>
</div>

