@import "variables";
@import "mixins";

// template 1
.submenu {
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        margin: 19px auto;
        //margin-bottom: 19px;

        justify-content: space-evenly;

        ion-button {
            width: 150px;
            height: 40px;

            @include transparentBtn();
            @include btnTextMonserat13($dark-gray);

            &.active-btn {
                @include lightBtn();
                @include btnTextMonserat13(var(--ion-color-warning));
                @include box-shadow;
            }

        }
        ion-button.once {
            width: 100%;

            ion-icon {
                margin-left: -26px;
                margin-right: 26px;
            }
        }
    }

    &__btn {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        margin: 11px;

    }

    &__btn-text {
        @include btnTextMonserat13($dark-gray);
    }


}

ion-icon {
    font-size: 16px;
    margin-right: 10px;
}
// template 2
.submenu-transparent {
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        margin: 24px auto;

        justify-content: space-evenly;

        ion-button {
            width: 32px;
            height: 32px;
            --border-radius: 8px;
            margin: 0;
            padding: 0;
            margin-inline-start: 0;
            margin-inline-end: 0;
            --padding-start: 0;
            --padding-end: 0;
        }

        ion-button.transparent {
            --background: transparent;
            margin: 0;
            --box-shadow: none;
        }
        ion-icon {
            font-size: 24px;
            margin-right: 0;
        }
    }
}

.layout-content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 59px);
    padding-top: 0;
    background: $white;
}

