<ul class="list">
  <li class="item" (click)="redirectTo()">
    <img src="/assets/images/svg-icons/muscle.svg" alt="" class="img">
    <span class="text">Strength</span>
  </li>
  <li class="item" (click)="redirectTo()">
    <img src="/assets/images/svg-icons/026-abs.svg" alt="" class="img">
    <span class="text">Upper body</span>
  </li>
  <li class="item" (click)="redirectTo()">
    <img src="/assets/images/svg-icons/048-legs.svg" alt="" class="img">
    <span class="text">Lower body</span>
  </li>
  <li class="item" (click)="redirectTo()">
    <img src="/assets/images/svg-icons/yoga.png" alt="" class="img">
    <span class="text">Yoga</span>
  </li>
  <li class="item" (click)="redirectTo()">
    <img src="/assets/images/svg-icons/cycling_icon@2x.png" alt="" class="img">
    <span class="text">Cycling</span>
  </li>
  <li class="item">
    <img src="/assets/images/svg-icons/ball.png" alt="" class="img">
    <span class="text">Youth</span>
  </li>
</ul>
