<app-main-layout
        [titlePage]="pageTitle"
>
<div class="feedback">
    <div class="feedback__row">
        <ion-item lines="none">
            <ion-label position="stacked">E-mail</ion-label>
            <ion-input placeholder="E-mail"></ion-input>
        </ion-item>
    </div>
    <div class="feedback__row">
        <ion-item lines="none">
            <ion-label position="stacked">Subject</ion-label>
            <ion-input placeholder="Subject"></ion-input>
        </ion-item>
    </div>
    <div class="feedback__row">
        <ion-item lines="none" class="textarea">
            <ion-label position="stacked">Text</ion-label>
            <ion-textarea placeholder="Text..." rows="10"></ion-textarea>
        </ion-item>
    </div>
    <div class="feedback__row d-flex ion-justify-content-end">
        <ion-button color="warning">
            <div class="feedback__btn">
                <span class="feedback__btn-text">Send message</span>
            </div>
        </ion-button>
    </div>
    
</div>
</app-main-layout>
