<app-main-layout
        [titlePage]="pageTitle"
>
    <app-button-layout [listBtnForLayout]="listBtnForLayout.CLASSES">
        <div class="class">

            <div class="class__block">
                <ion-card class="person-card">
                    <ion-img src="assets/images/news.png" class="person-card__img"></ion-img>
                    <div class="person-card__wrapper">
                      <div class="person-card-rating">
                        <rating [rate]="rate"
                                readonly="false"
                                size="small"
                                (rateChange)="onRateChange($event)">
                        </rating>
                      </div>
                      <span class="person-card__name">Emma Jogger</span>
                        <span class="person-card__text">Greatest class of all time</span>
                    </div>
                </ion-card>
            </div>
            <div class="class__block">
              <ion-card class="person-card">
                <ion-img src="assets/images/news.png" class="person-card__img"></ion-img>
                <div class="person-card__wrapper">
                  <div class="person-card-rating">
                    <rating [rate]="rate"
                            readonly="false"
                            size="small"
                            (rateChange)="onRateChange($event)">
                    </rating>
                  </div>
                  <span class="person-card__name">Emma Jogger</span>
                  <span class="person-card__text">Greatest class of all time</span>
                </div>
              </ion-card>
            </div>
            <div class="class__block">
              <ion-card class="person-card">
                <ion-img src="assets/images/news.png" class="person-card__img"></ion-img>
                <div class="person-card__wrapper">
                  <div class="person-card-rating">
                    <rating [rate]="rate"
                            readonly="false"
                            size="small"
                            (rateChange)="onRateChange($event)">
                    </rating>
                  </div>
                  <span class="person-card__name">Emma Jogger</span>
                  <span class="person-card__text">Greatest class of all time</span>
                </div>
              </ion-card>
            </div>
            <div class="class__block">
              <ion-card class="person-card">
                <ion-img src="assets/images/news.png" class="person-card__img"></ion-img>
                <div class="person-card__wrapper">
                  <div class="person-card-rating">
                    <rating [rate]="rate"
                            readonly="false"
                            size="small"
                            (rateChange)="onRateChange($event)">
                    </rating>
                  </div>
                  <span class="person-card__name">Emma Jogger</span>
                  <span class="person-card__text">Greatest class of all time</span>
                </div>
              </ion-card>
            </div>
            <div class="class__block">
              <ion-card class="person-card">
                <ion-img src="assets/images/news.png" class="person-card__img"></ion-img>
                <div class="person-card__wrapper">
                  <div class="person-card-rating">
                    <rating [rate]="rate"
                            readonly="false"
                            size="small"
                            (rateChange)="onRateChange($event)">
                    </rating>
                  </div>
                  <span class="person-card__name">Emma Jogger</span>
                  <span class="person-card__text">Greatest class of all time</span>
                </div>
              </ion-card>
            </div>
            <div class="class__block">
              <ion-card class="person-card">
                <ion-img src="assets/images/news.png" class="person-card__img"></ion-img>
                <div class="person-card__wrapper">
                  <div class="person-card-rating">
                    <rating [rate]="rate"
                            readonly="false"
                            size="small"
                            (rateChange)="onRateChange($event)">
                    </rating>
                  </div>
                  <span class="person-card__name">Emma Jogger</span>
                  <span class="person-card__text">Greatest class of all time</span>
                </div>
              </ion-card>
            </div>
            <div class="class__block">
              <ion-card class="person-card">
                <ion-img src="assets/images/news.png" class="person-card__img"></ion-img>
                <div class="person-card__wrapper">
                  <div class="person-card-rating">
                    <rating [rate]="rate"
                            readonly="false"
                            size="small"
                            (rateChange)="onRateChange($event)">
                    </rating>
                  </div>
                  <span class="person-card__name">Emma Jogger</span>
                  <span class="person-card__text">Greatest class of all time</span>
                </div>
              </ion-card>
            </div>
            <div class="class__block">
              <ion-card class="person-card">
                <ion-img src="assets/images/news.png" class="person-card__img"></ion-img>
                <div class="person-card__wrapper">
                  <div class="person-card-rating">
                    <rating [rate]="rate"
                            readonly="false"
                            size="small"
                            (rateChange)="onRateChange($event)">
                    </rating>
                  </div>
                  <span class="person-card__name">Emma Jogger</span>
                  <span class="person-card__text">Greatest class of all time</span>
                </div>
              </ion-card>
            </div>
            <div class="class__block">
              <ion-card class="person-card">
                <ion-img src="assets/images/news.png" class="person-card__img"></ion-img>
                <div class="person-card__wrapper">
                  <div class="person-card-rating">
                    <rating [rate]="rate"
                            readonly="false"
                            size="small"
                            (rateChange)="onRateChange($event)">
                    </rating>
                  </div>
                  <span class="person-card__name">Emma Jogger</span>
                  <span class="person-card__text">Greatest class of all time</span>
                </div>
              </ion-card>
            </div>
            <div class="class__block">
                <app-leave-feedback></app-leave-feedback>
            </div>
        </div>
    </app-button-layout>
</app-main-layout>
