@import "variables";
@import "mixins";


.add-device {
    display: flex;
    flex-direction: column;
    height: 100%;


    &__title {
        @include mb8;
        @include titleSemi16;
    }

    &__text {
        @include mb32;
        @include textMonserat12;
        text-align: center;
    }

    &__btn {
        // margin-top: auto;
        // margin-bottom: 28px;
        width: 165px;
        @include bthHeight;
    }

    &__btn-text {
        @include btnTextMonserat12;
    }
}

.add-device__img {
    @include mb32;
    width: 56px;
    height: 56px;
    background-image: url("/assets/images/png-icons/welcome-programmes@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
