<ion-card class="card__wrapper" [ngClass]="{'list': !needDescription}">
    <div class="card__img">
        <div class="connect" [ngClass]="{'connect--show': !needDescription}">
            <div class="connect__img">
                   <ion-img src="assets/images/svg-icons/md-watch-white.svg"></ion-img>
            </div>
            <span class="connect__text">
        Connect wearable or app to join
      </span>
        </div>
    </div>
    <ion-card-content class="ion-padding-start ion-padding-end">
        <div class="card" [ngClass]="{'card--vertical': needDescription}">
            <div class="d-flex flex ion-justify-content-between ion-align-items-center">
                <span class="card__title">Run - 5.5k</span>
                <span class="card__text">722 participants</span>
            </div>

            <span *ngIf="needDescription" class="card__desc">Run the most challenging marathon along the Great Wall of China. Join more than 2500 runners from over 60 nations in this marathon adventure of a lifetime.</span>
        </div>
    </ion-card-content>
</ion-card>
