@import "mixins";

ion-card.card__wrapper {
    box-shadow: none;
    margin: 0;
    background: var(--white);
    border-radius: 0;

   /* ion-card-content {
        padding-left: 24px;
        padding-right: 24px;
    }*/

}

ion-card.list {
    @include border-radius-8;
    @include border1;

    .card__img {
        height: 160px;
    }

    ion-card-content {
        padding: 12px 16px;
    }
}

.card {
    display: flex;
    justify-content: space-between;

    &__img {
        position: relative;
        height: 200px;
        width: auto;
        background-image: url("/assets/images/run@2x.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;


    }

    &__title {
       @include titleSemi16
    }

    &__text {
       @include textMonserat12(var(--ion-color-warning));
    }

    &__desc {
        @include textMonserat14();
    }

    &--vertical {
        flex-direction: column;
        .card__desc {
            display: block;

        }
        span {
            margin-bottom: 10px;
        }
    }
}

.connect {
    @include border-radius-8;

    position: absolute;
    left: 16px;
    bottom: 16px;
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    padding: 12px 8px;
    background-color: transparentize(#3A3E47, 0.3);

    &--show {
        display: flex;
    }

    &__img {
        width: 18px;
        height: 26px;
        margin-right: 8px;
    }

    &__text {
       @include btnTextMonserat12();
        text-align: left;
    }
}
