@import "variables";
@import "mixins";

ion-card.card__wrapper {
    @include box-shadow;
    margin: 0;
    background: $white;
    border-radius: 0;

   /* ion-card-content {
        padding-left: 24px;
        padding-right: 24px;
    }*/

}


.card {
    display: flex;
    justify-content: space-between;

    &__img {
        position: relative;
        height: 200px;
        width: auto;
        background-image: url("/assets/images/run@2x.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;


    }

    &__title {
       @include titleSemi16
    }

    &__text {
       @include textMonserat12(var(--ion-color-warning));
    }

    &__desc {
        @include textMonserat14();
    }

    &--vertical {
        flex-direction: column;
        .card__desc {
            display: block;

        }
        span {
            margin-bottom: 10px;
        }
    }
}

.connect {
    position: absolute;
    left: 47px;
    top: 41px;
    display: none;
    width: 40%;

    &--show {
        display: block;
    }

    &__img {
        width: 18px;
        height: 26px;
        margin-bottom: 8px;
    }

    &__text {
        font-family: $font-family-helvetica;
        font-size: 16px;
        font-weight: 300;
        line-height: 18px;
        color: $white;
    }
}
