<div class="comments">
  <span class="comments__title">Add a comment</span>
  <div class="comment">
    <div class="comment__col">
      <div class="comment__avatar"></div>
    </div>
    <div class="comment__col">
      <div class="add-comment">
        <ion-input placeholder="Write your comment..."></ion-input>
        <ion-icon [src]="'/assets/images/comments/add-icon.svg'"></ion-icon>
      </div>
    </div>
  </div>
  <div class="comment">
    <div class="comment__col">
      <div class="comment__avatar"></div>
    </div>
    <div class="comment__col">
      <span class="comment__author">Tyler Lynch</span>
      <span class="comment__text">HIIT promises the best workout in the least amount of time</span>
    </div>
  </div>

  <div class="comment">
    <div class="comment__col">
      <div class="comment__avatar"></div>
    </div>
    <div class="comment__col">
      <span class="comment__author">Tyler Lynch</span>
      <span class="comment__text">HIIT promises the best workout in the least amount of time</span>
    </div>
  </div>

  <div class="comment">
    <div class="comment__col">
      <div class="comment__avatar"></div>
    </div>
    <div class="comment__col">
      <span class="comment__author">Amber Adams</span>
      <span class="comment__text">Runners have used interval training for more than 100 years, alternating between sprints and jogging to improve their endurance</span>
    </div>
  </div>

  <div class="comment">
    <div class="comment__col">
      <div class="comment__avatar"></div>
    </div>
    <div class="comment__col">
      <span class="comment__author">Amber Adams</span>
      <span class="comment__text">Runners have used interval training for more than 100 years, alternating between sprints and jogging to improve their endurance</span>
    </div>
  </div>
</div>
