<app-main-layout
        [titlePage]="pageTitle"
>
  <app-button-layout  [listBtnForLayout]="listBtnForLayout.TRACKING">
    <div class="stat-by-device ion-align-items-center ">
      <div class="stat-by-device__select-block d-flex ion-align-items-center ion-justify-content-between ion-padding-start ion-padding-end">
        <div class="d-flex flex-column">
           <span class="stat-by-device__label">
            Programme
          </span>
          <ion-item  color="warning">
            <ion-label class="select-orange-placeholder" slot="start" *ngIf="!selectedProgram">Select One</ion-label>
            <ion-select placeholder="" [(ngModel)]="selectedProgram" class="select-orange">
              <ion-select-option value="f">Program 1</ion-select-option>
              <ion-select-option value="m">Program 2</ion-select-option>
              <ion-select-option value="m">Program 3</ion-select-option>
            </ion-select>
            <span class="material-icons"  slot="end">
                      arrow_drop_down
                      </span>
          </ion-item>
        </div>
        <div class="d-flex flex-column">
           <span class="stat-by-device__label">
            Exercise
          </span>
          <ion-item  color="light">
            <ion-label class="select-white-placeholder" slot="start" *ngIf="!selectedProgram">Select One</ion-label>
            <ion-select placeholder="" [(ngModel)]="selectedProgram">
              <ion-select-option value="f">Squats</ion-select-option>
              <ion-select-option value="m">Squats 1</ion-select-option>
              <ion-select-option value="m">Squats 2</ion-select-option>
            </ion-select>
            <span class="material-icons"  slot="end">
                      arrow_drop_down
                      </span>
          </ion-item>

        </div>
      </div>
      <div class="d-flex ion-align-self-start ion-align-items-center ion-padding-start ion-padding-end steps">
        <div class="steps__info">
          <span class="steps__count">
           100 <span>kg</span>
          </span>
          <span class="steps__text">
           <img src="/assets/images/png-icons/crown@2x.png" width="17" height="12" alt="">
            Highest record on Saturday 28th December
          </span>
        </div>


      </div>
      <div class="d-flex  flex-column ion-align-self-start ion-align-items-center ion-padding-start ion-padding-end steps">
        <div class="month">
          <ion-icon name="arrow-back"></ion-icon>
          <span class="month__text">March 22 2020</span>
          <ion-icon name="arrow-forward"></ion-icon>
        </div>
        <app-weekly-stat></app-weekly-stat>
      </div>


      <div class="stat-by-device__buttons ion-padding-start ion-padding-end">
        <ion-button
                class="stat-by-device__btn"
                [color]="'dark'"
                expand="block"
                (click)="openPrograms()"
        >
          <span class="stat-by-device__btn-text">Programmes</span>
        </ion-button>
        <ion-button
                class="stat-by-device__btn"
                [color]="'warning'"
                expand="block"
                (click)="addProgram()"
        >
          <ion-icon name="add"></ion-icon>
          <span class="stat-by-device__btn-text">Add programme</span>
        </ion-button>
      </div>
    </div>

  </app-button-layout>
</app-main-layout>
