<app-main-layout
        [titlePage]="pageTitle"
>
  <app-button-layout  [listBtnForLayout]="listBtnForLayout.TRACKING">
    <div class="stat-by-device ion-align-items-center ">
      <div class="stat-by-device__header ">
        <div class="stat-by-device__title">
          Select your programme
        </div>

        <ion-item  color="secondary">
          <ion-label class="select-blue-placeholder" slot="start" *ngIf="!selectedProgram">Select One</ion-label>
          <ion-select placeholder="" [(ngModel)]="selectedProgram" class="select-blue">
            <ion-select-option value="f">Program 1</ion-select-option>
            <ion-select-option value="m">Program 2</ion-select-option>
            <ion-select-option value="m">Program 3</ion-select-option>
          </ion-select>
          <ion-icon color="light" name="arrow-down" mode="ios" slot="end" size="small"></ion-icon>
        </ion-item>


      </div>
      <div class="stat-by-device__select-block d-flex ion-align-items-center ion-justify-content-between ion-padding-start ion-padding-end">
        <ion-item lines="none">
          <ion-label class="select-white-placeholder" slot="start" *ngIf="!selectedSquats">Squats</ion-label>
          <ion-select placeholder="" [(ngModel)]="selectedSquats">
              <ion-select-option value="f">Squats</ion-select-option>
              <ion-select-option value="m">Squats 1</ion-select-option>
              <ion-select-option value="m">Squats 2</ion-select-option>
            </ion-select>
          <ion-icon color="secondary" name="arrow-down" mode="ios" slot="end" size="small"></ion-icon>
        </ion-item>
        <ion-item lines="none" (click)="openCalendar()">
          <ion-label class="select-white-placeholder" slot="start" >{{dateRangeLabel}}</ion-label>
          <ion-calendar [(ngModel)]="dateRange"
                        [options]="optionsRange"
                        [type]="type"
                        color="secondary"
                        [format]="'YYYY-MM-DD'"
                        (click)="openCalendar()"
                        class="visually-hidden"
          >
        </ion-calendar>
        <ion-icon color="secondary" name="arrow-down" mode="ios" slot="end" size="small"></ion-icon>
        </ion-item>
      </div>
      <div class="d-flex ion-align-self-start ion-align-items-center ion-padding-start ion-padding-end steps">
        <div class="steps__info">
          <span class="steps__count">
           100 <span>kg</span>
          </span>
          <span class="steps__text">
           <img src="/assets/images/png-icons/crown@2x.png" width="17" height="12" alt="">
            Highest record on Saturday 28th December
          </span>
        </div>


      </div>
      <div class="d-flex  flex-column ion-align-self-start ion-align-items-center ion-padding-start ion-padding-end steps">
        <div class="month">
          <ion-icon name="arrow-back"></ion-icon>
          <span class="month__text">March 22 2020</span>
          <ion-icon name="arrow-forward"></ion-icon>
        </div>
        <app-weekly-stat></app-weekly-stat>
      </div>


      <div class="stat-by-device__buttons ion-padding-start ion-padding-end">
        <ion-button
                class="stat-by-device__btn"
                [color]="'dark'"
                expand="block"
                (click)="openPrograms()"
        >
          <span class="stat-by-device__btn-text">Programmes</span>
        </ion-button>
        <ion-button
                class="stat-by-device__btn"
                [color]="'warning'"
                expand="block"
                (click)="addProgram()"
        >
          <ion-icon name="add"></ion-icon>
          <span class="stat-by-device__btn-text">Add programme</span>
        </ion-button>
      </div>
    </div>

  </app-button-layout>
</app-main-layout>
