@import "variables";
@import "mixins";

.stat-by-device {
    display: flex;
    flex-direction: column;
    padding-bottom: 22px;
    background-color: var(--white);


    ion-item {
        height: 43px;
        width: 155px;
        @include border-radius-8;

        >  ion-icon {
            margin-right: 0;
        }

        .material-icons {
            color: var(--dark-gray);
            font-size: 30px;
            margin-inline-end: 0
        }
    }

    ion-item[color='warning'] {

        .material-icons {
            color: var(--white);
        }
    }

    ion-select {
        max-width: 100%;
        --padding-start: 0px;
        width: 100%;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 22px 32px;
        border-bottom: 0.5px solid $gray;
    }

    &__select-block {
        @include mt22;
        @include mb32;
        width: 100%;
        ion-item {
            // border: 1px solid $gray;
            --padding-start: 10px;

          /*  &:first-of-type {
                width: 35%
            }
            &:last-of-type {
                width: 60%;
            }*/
        }
    }

    &__title {
        margin-bottom: 8px;
        font-family: $font-family-oswald;
        font-size: 16px;
        color: $ligth-black;
        line-height: 24px;

    }

    &__text {
        margin-bottom: 29px;
        font-family: $font-family-helvetica;
        font-size: 12px;
        line-height: 15px;
        font-weight: 300;
        color: $ligth-black;
    }

    &__btn {
        @include mt24;
        @include bthHeight;
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        margin: 11px;
        width: 122px;

        &:nth-of-type(2) {
            width: 162px;
        }
    }

    &__btn-text {
       @include btnTextMonserat12();
        margin-left: 10px;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
    }

    &__label {
        @include textMonserat12();
        @include mb4;
    }
}

.steps {
    @include mb16;
    width: 100%;

    ion-icon {
        width: 27px;
        font-size: 48px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__count {
       @include titleSemi44;

        margin-bottom: 6px;

        span {
            color: var(--light-gray2)
        }
    }

    &__text {
       @include textMonserat12(var(--ion-color-warning))
    }
}


.month {
    display: flex;
    align-items: center;

    &__text {
        @include btnTextMonserat12(var(--dark-gray));
        display: block;
        margin-right: 24px;
        margin-left: 24px;
    }

    ion-icon {
        color: var(--light-gray2);
    }
}
