@import "mixins";

:host {
    width: 100%;
}

ion-card.event-card {
    @include border-radius-8;
    margin: 0 0 12px;
    border: 1px solid var(--light-gray2);
    box-shadow: none;
}

.event {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;

    .col {
        display: flex;
        align-items: center;
    }

    &__desc {
        display: flex;
        align-items: center;

    }

    &__name {
        @include titleSemi16()
    }

    &__time {
        @include textMonserat12()
    }


    &__btn {
        --background: transparent !important;
        background: transparent !important;
    }

    ion-icon {
        font-size: 18px;
    }

    ion-radio {
        @include mr8;
        height: 16px;
        width: 16px;
    }
}
