<app-main-layout
        [titlePage]="title"
        [isNeedFilter]="false"
        [isNeedBack]="true"
        [isHideBoxShadow]="true"
        [isNeedBgWhite]="true"
>
    <div class="month">
        <div class="month__logo">

        </div>
      <div class="d-flex flex-column mr24 ml24">
         <span class="month__title">
              1 Month Free Membership
          </span>


        <span class="month__text">
            When you refer a friend to join in September!
          </span>

        <div class="offer">
          Special Membership Offer – Free Sports Towel if you join up in the month of September!
        </div>
        <ion-button color="warning">
          <span>Send Referral</span>
        </ion-button>
      </div>

    </div>
</app-main-layout>
