@import "mixins";

.submenu {
    &__buttons {
        @include border-radius-8;

        flex: 1 0 auto;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-between;
        padding-right: 1px;
        padding-left: 1px;

        background-color: var(--light-gray);

        ion-button {
            @include transparentBtn();

            width: 150px;
            height: 40px;
            margin-top: 3px;
            margin-bottom: 3px;

            --border-radius: 8px;

            &.active-btn {
                @include lightBtn();

                .submenu__btn-text {
                    @include btnTextMonserat13(var(--ion-color-warning));
                }
            }
        }
    }

    &__btn {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        margin: 11px;
    }

    &__btn-text {
        @include btnTextMonserat13(var(--dark-gray));
    }


}

ion-icon {
    font-size: 22px;
    margin-right: 8px;

}


.body-comp-layout {
    display: flex;
    flex-direction: column;
    height: calc(100% - 59px);
    min-height: 100%;
    padding-top: 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: var(--white);

    ion-item {
        height: 40px;
        box-shadow: 0 3px 6px 0 var(--light-gray1);
    }

    ion-select {
        max-width: 100%;
        --padding-start: 0px;
        width: 100%;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 22px 32px;
        border-bottom: 0.5px solid var(--gray);
    }
}
