<div class="body-comp-layout ion-align-items-center ">
  <div class="body-comp-layout__header ">
    <div class="submenu__buttons">
      <ion-button *ngFor="let button of buttons"
                  [color]="'light'"
                  expand="block"
                  (click)="toggleButton(button.redirectTo)"
                  [ngClass]="{'once': buttons.length ===1, 'active-btn': button.active}"
      >
        <ion-icon src="/assets/images/svg-icons/{{button.active ? button.activeIcon : button.icon}}"></ion-icon>
        <span class="submenu__btn-text">{{button.text}}</span>
      </ion-button>
    </div>
  </div>
  <ng-content></ng-content>
</div>
