<app-main-layout
        [titlePage]="pageTitle"
>
    <app-button-layout [listBtnForLayout]="listBtnForLayout.MEALS">

      <div class="library">
        <div class="library__header">
          <ion-item lines="none" class="select-filter-item">
            <ion-label class="select-white-placeholder" slot="start" *ngIf="!selectedType">Any type</ion-label>
            <ion-select placeholder="" [(ngModel)]="selectedType">
              <ion-select-option value="f">type</ion-select-option>
              <ion-select-option value="m">type 1</ion-select-option>
              <ion-select-option value="s">type 2</ion-select-option>
            </ion-select>
              <span class="material-icons"  slot="end">
              arrow_drop_down
              </span>
           <!-- <ion-icon color="dark" name="arrow-down" mode="ios" slot="end" size="small"></ion-icon>-->
          </ion-item>
          <ion-item lines="none" class="select-filter-item">
            <ion-label class="select-white-placeholder" slot="start" *ngIf="!selectedMeal">Any meal</ion-label>
            <ion-select placeholder="" [(ngModel)]="selectedMeal">
              <ion-select-option value="f">meal</ion-select-option>
              <ion-select-option value="m">meal 1</ion-select-option>
              <ion-select-option value="s">meal 2</ion-select-option>
            </ion-select>

            <span class="material-icons"  slot="end">
              arrow_drop_down
              </span>
  <!--          <ion-icon color="dark" name="arrow-down" mode="ios" slot="end" size="small"></ion-icon>-->
          </ion-item>
        </div>
        <div class="library__header library__header--no-bordrer-bottom ">
          <ion-searchbar color="light" class="meal_search"></ion-searchbar>
        </div>


        <div class="library__list">
          <ion-card>
            <div class="card-program">
              <ion-img src="/assets/images/food@2x.png" class="card-program__img"></ion-img>
              <div class="card-program__wrapper">
                <span class="card-program__title">Mediterranean</span>
                <span class="card-program__text">Full of healthy fats, fruits & veggies </span>
              </div>
            </div>
          </ion-card>

          <ion-card>
            <div class="card-program">
              <ion-img src="/assets/images/food@2x.png" class="card-program__img"></ion-img>
              <div class="card-program__wrapper">
                <span class="card-program__title">Mediterranean</span>
                <span class="card-program__text">Full of healthy fats, fruits & veggies </span>
              </div>
            </div>
          </ion-card>

          <ion-card>
            <div class="card-program">
              <ion-img src="/assets/images/food@2x.png" class="card-program__img"></ion-img>
              <div class="card-program__wrapper">
                <span class="card-program__title">Mediterranean</span>
                <span class="card-program__text">Full of healthy fats, fruits & veggies </span>
              </div>
            </div>
          </ion-card>

          <ion-card>
            <div class="card-program">
              <ion-img src="/assets/images/food@2x.png" class="card-program__img"></ion-img>
              <div class="card-program__wrapper">
                <span class="card-program__title">Mediterranean</span>
                <span class="card-program__text">Full of healthy fats, fruits & veggies </span>
              </div>
            </div>
          </ion-card>

          <ion-card>
            <div class="card-program">
              <ion-img src="/assets/images/food@2x.png" class="card-program__img"></ion-img>
              <div class="card-program__wrapper">
                <span class="card-program__title">Mediterranean</span>
                <span class="card-program__text">Full of healthy fats, fruits & veggies </span>
              </div>
            </div>
          </ion-card>

        </div>
      </div>

    </app-button-layout>
</app-main-layout>
