<app-main-layout
        [titlePage]="pageTitle"
>
    <app-button-layout [listBtnForLayout]="listBtnForLayout.MEALS">

      <!--<div class="library">
        <div class="library__header library__header&#45;&#45;no-bordrer-bottom ">
          <ion-searchbar color="light" class="meal_search"></ion-searchbar>
          <ion-button (click)="openFilter()" expand="block" color="light" size="small"
          >
            <ion-icon src="/assets/images/svg-icons/ios-funnel.svg" color="warning" slot="icon-only"></ion-icon>
          </ion-button>
        </div>
      </div>-->
      <div class="videos">
        <div class="videos__header">
          <ion-searchbar color="light" class="meal_search"></ion-searchbar>
          <ion-button (click)="openFilter()" expand="block" color="light" size="small"
          >
            <ion-icon src="/assets/images/svg-icons/ios-funnel-orange.svg"  slot="icon-only"></ion-icon>
          </ion-button>
        </div>
        <div class="d-flex ion-justify-content-between mb24 video__row">
          <div class="videos__title">What's new</div>
          <a class="d-flex ion-align-items-center">
            <span class="brn-text-more">see all</span>
            <ion-icon color="warning" name="arrow-forward"></ion-icon>
          </a>
        </div>
      </div>

      <div class="videos ion-margin-start">

        <div class="mb40 video__row pos-relative">

          <app-popular-cuisines></app-popular-cuisines>

        </div>
      </div>

      <div class="videos ion-margin-start ion-margin-end">

        <div class="d-flex ion-justify-content-between mb24 video__row">
          <div class="videos__title">Popular diets</div>

        </div>

        <div class="mb40 video__row">
          <app-popular-diets></app-popular-diets>
        </div>
      </div>

    </app-button-layout>
</app-main-layout>
