@import "mixins";

.library {
    display: flex;
    flex-direction: column;
    background: var(--white);

    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 22px 32px;
        border-bottom: 0.5px solid var(--gray);

        &--no-bordrer-bottom {
            padding-bottom: 0;
            border-bottom: 0;
        }

        ion-searchbar {
            height: 50px;
            padding-left: 5px;
            padding-right: 5px;
        }
        ion-button {
            height: 36px;
            width: 44px;
        }
        ion-icon {
            font-size: 14px;
        }


        ion-item {
            height: 40px;
            box-shadow: 0 3px 6px 0 var(--light-gray1);
            border: 1px solid var(--gray);
            --padding-start: 10px;

            &:first-of-type {
                width: 35%
            }
            &:last-of-type {
                width: 60%;
            }


            &.select-filter-item {
                @include border-radius-8;
                --background: var(--light-gray);
                border: 0;
                box-shadow: none;

                .material-icons {
                    color: var(--dark-gray) ;
                    margin-top: -5px;
                    font-size: 30px;
                }
            }

            ion-select {

                max-width: 100%;
                --padding-start: 0px;
                width: 100%;
                // height: 40px;
            }

            >  ion-icon {
                margin-top: 3px;
                margin-right: 0;
            }
        }


    }

    &__list {
        padding-left: 32px;
        padding-right: 32px;

        ion-card {
            @include border-radius-8;
            margin-left: 0;
            margin-right: 0;

            box-shadow: none;
            border: 1px solid var(--gray);
        }
    }

}

.card-program {
    display: flex;

    &__img {
        width: 86px;
        height: 96px;
        background-color: var(--gray);
    }

    &__wrapper {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        padding: 18px;
    }
    &__title {
      @include titleSemi16()
    }

    &__text {
        display: block;
        width: 185px;
        @include textMonserat12();
    }

}
