<perfect-scrollbar>
    <div class="slide ion-padding-start ion-padding-end">


        <ng-container *ngIf="!slide.isPhotoSlide; else photoBlock">
            <div *ngIf="!slide?.srcset" class="slide__img slide__img--{{slide.icon}}">
            </div>
            <img *ngIf="slide?.srcset"  class="slide__img" [srcset]="slide.srcset.x1 + ',' + slide.srcset.x2 + ',' + slide.srcset.x3"
                 [src]="slide.srcset.x3" alt="Elva dressed as a fairy">
          <span class="slide__title">{{slide.title}}</span>
        </ng-container>
        <ng-template #photoBlock>
            <div
                    class="slide__preview"
                    [ngClass]="{'slide__preview--loaded': !!imagePreview}"
                    [ngStyle]="{'background-image':'url(' + imagePreview + ')'}"
                    (click)="triggerUploadImage()"
            >
            </div>
          <input type="file" #upload (change)="uploadImage($event)" #upload style="display: none">
          <div class="slide__title-photo" (click)="triggerUploadImage()">{{slide.title}}</div>
        </ng-template>

        <span class="slide__text">{{slide.text}}</span>

       <!-- <ion-button expand="full" (click)="nextSlide()" color="secondary" class="slide__btn">
            <div class="d-flex flex ion-justify-content-center ion-align-items-center">
                <div class="slide__btn-text"></div>
                <ion-icon name="arrow-forward"></ion-icon>
            </div>
        </ion-button>-->

        <ion-button
                class=" slide__btn"
                color="warning"
                (click)="nextSlide()"
                [disabled]="slide.isPhotoSlide && !imagePreview"
        >
            <div class="d-flex flex ion-justify-content-between ion-align-items-center">
                <div class="slide__btn-text">{{slide.isPhotoSlide ? 'Get started' : 'Next'}}</div>
                <ion-icon name="arrow-forward"></ion-icon>
            </div>
        </ion-button>
    </div>

</perfect-scrollbar>
