@import "variables";
@import "mixins";

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $light-gray;

    ion-header {
        @include box-shadow;

        position: absolute!important;
        top: 0;
        padding-top: 4px;
        padding-bottom: 4px;
        background: $white;


        &.header-md:after {
            display: none;
        }
        ion-toolbar {
            --background: transparent;
            --border-width: 0;


            ion-button.barcode {
                @include transparentBtn;
            }


            ion-button.back-button {
                height: 15px;
                margin-left: -9px;
                --padding-start: 0;
            }
        }
    }

    ion-footer {
        ion-toolbar {
            padding-top: 12px;
            padding-bottom: 12px;
            ion-button {
                flex: 1 0 auto;
                margin: auto;
                justify-content: space-around;
            }
        }
    }

    ion-text.page-title {
        @include btnTextSemi13($dark-gray);
        letter-spacing: 0.9px;
    }

    ion-content {
        --background: transparent;
        --padding-top: 53px;
    }


}



.not-menu-button {
    width: 23px;
    height: 23px;
    background-color: $ligth-black;
    border-radius: 50%;
}

ion-menu-button {
    @include mr8;

    width: 25px;
    height: 25px;
    //--background: url('/assets/images/no_photo.png') center no-repeat;
    --border-radius: 50%;

    &.menu-button-disabled {
        width: 23px;
        height: 23px;
        --background: $ligth-black;
        --border-radius: 50%;
        opacity: 1;
    }
    img {
        width: 23px !important;
        height: 23px !important;
        max-width: none !important;
        padding: 0;
        min-width: 23px;
    }
}

.profile-header {
    background: linear-gradient(89deg, rgba(44, 47, 54, 0.89) 0%, rgba(58, 62, 71, 0.89) 100%),
    url("/assets/images/account@2x.png") center no-repeat  !important;
    box-shadow: none!important;


    &__wrap {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 32px;
    }

    &__img {
        width: 84px;
        height: 84px;

        border-radius: 50%;
    }

    &__name {
        @include mt8;
        @include titleSemi24();
        text-align: center;
    }
}


.page-logo {
    margin: auto;
}

ion-header.box-shadow-none {
    box-shadow: unset;
}

ion-content.pt53 {
    --padding-top: 53px;
}

ion-content.white-bg {
    --background: var(--ion-color-warning-contrast);
}
