@import "mixins";

.add-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 0;
    padding-left: var(--ion-padding);
    padding-right: var(--ion-padding);

    &__title {
        @include mb8;
        @include titleSemi16()
    }

    &__text {
        @include mb32;
        @include textMonserat12();
    }

    &__btn {
        @include bthHeight;
        @include border-radius-8;

        width: 201px;
    }

    &__btn-text {
        @include btnTextMonserat12()
    }
}

.add-body__img {
    @include mb32;
    width: 47px;
    height: 42px;
    background-image: url("/assets/images/png-icons/add-photo@3x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
