<app-main-layout
        [titlePage]="pageTitle"
>
  <app-button-layout [listBtnForLayout]="listBtnForLayout.TRACKING">
    <app-button-into-layout [listBtnForLayout]="listBtnForLayout.BODY">

      <div class="add-body ion-align-items-center ion-justify-content-center">
        <ion-button expand="full" (click)="addNewPicture()" color="secondary" class="add-body__btn">
          <div class="d-flex flex ion-justify-content-center ion-align-items-center">
            <ion-icon name="add" size="lagre"></ion-icon>
            <div class="add-body__btn-text">Add new picture</div>
          </div>
        </ion-button>
        <ion-card>
          <ion-img src="/assets/images/news.png" alt=""></ion-img>
          <span class="card__title">20/01/2019</span>
        </ion-card>

        <ion-card>
          <ion-img src="/assets/images/news.png" alt=""></ion-img>
          <span class="card__title">20/01/2019</span>
        </ion-card>

        <ion-card>
          <ion-img src="/assets/images/news.png" alt=""></ion-img>
          <span class="card__title">20/01/2019</span>
        </ion-card>


      </div>

    </app-button-into-layout>
  </app-button-layout>
</app-main-layout>
