<app-main-layout
        [titlePage]="pageTitle"
>
  <app-button-layout [listBtnForLayout]="listBtnForLayout.TRACKING">
    <app-button-into-layout  style="height: 100%"  [listBtnForLayout]="listBtnForLayout.BODY">

      <div class="add-body ion-align-items-center ion-justify-content-center">

        <div class="add-body__img">

        </div>
        <div class="add-body__title">
          add your first picture
        </div>
        <div class="add-body__text">
          See your body changes over time!
        </div>

        <ion-button expand="block" (click)="addNewPicture()" color="warning" class="add-body__btn">
          <div class="d-flex flex ion-justify-content-center ion-align-items-center">
            <ion-icon name="add"></ion-icon>
            <div class="add-body__btn-text">Add first picture</div>
          </div>
        </ion-button>
      </div>

    </app-button-into-layout>
  </app-button-layout>
</app-main-layout>
