<perfect-scrollbar>
  <div class="premium ion-padding-start ion-padding-end">
    <span class="slide__title">Choose your membership option!</span>
    <span class="slide__subtitle">Gain access to our premium workout library, as well as our incredible diet library and meal planner!</span>

    <div class="premium__buttons">
      <ion-button color="warning" expand="block" (click)="openPage()">
        <div class="premium__btn">
          <span class="premium__btn-text">Monthly</span>
          <span class="premium__btn-cost">£7.99</span>
        </div>
      </ion-button>
      <ion-button color="warning" expand="block" (click)="openPage()">
        <div class="premium__btn">
          <span class="premium__btn-text">3 Months</span>
          <span class="premium__btn-cost">£19.99 (Save 17%)</span>
        </div>
      </ion-button>
      <ion-button color="warning" expand="block" (click)="openPage()">
        <div class="premium__btn">
          <span class="premium__btn-text">12 Months</span>
          <span class="premium__btn-cost">£69.00 (Save 29% & FREE 7 Day Trial!)</span>
        </div>
      </ion-button>
    </div>

    <span class="slide__text ion">
   Payment will be charged to your credit card through your iTunes account at confirmation of purchase. Subscription renews automatically unless cancelled at least 24 hours prior to the end of the subscription period. There is no increase in price when renewing.
    </span>

  </div>
</perfect-scrollbar>
