<app-main-layout
        [titlePage]="title"
        [isNeedFilter]="false"
        [isNeedBack]="true"
        [isHideBoxShadow]="true"
        [isNeedBgWhite]="true"
>
    <div class="video__wrapper">

    </div>
    <ion-grid  class="ml24 mr24">

      <ion-row>
        <ion-col class="d-flex flex-column">
          <span class="video__title">How to get the most out of your exercise time, according to science</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="video__text-wrap">
        <span class="video__text">
          Modern life has a way of making us feel time-crunched and pressured to find the most efficient ways of using the precious hours when we’re not sleeping. The trendy fitness regimen high-intensity interval training, or HIIT, epitomizes this feeling. HIIT promises the best workout in the least amount of time. Runners have used interval training for more than 100 years, alternating between sprints and jogging to improve their endurance. But HIIT didn’t really go mainstream until about a decade ago, when exercise physiologists started to come out with study after study demonstrating that intervals could deliver the biggest health improvement for your exercise time. In 2013, the seven-minute workout, popularized by the New York Times, appeared on the scene, and by 2016, the one-minute workout.
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  <div class="divisor"></div>
    <app-list-comments></app-list-comments>
</app-main-layout>
