<app-main-layout
        [titlePage]="pageTitle"
>
  <app-button-layout [listBtnForLayout]="listBtnForLayout.CALENDAR">
    <div class="calendar">
      <div class="calendar__block flex-column">
        <span class="calendar__day-title">Tuesday 2nd July</span>
        <app-event-scheduler></app-event-scheduler>
        <app-event-scheduler></app-event-scheduler>
      </div>
      <div class="calendar__block flex-column">
        <span class="calendar__day-title">Monday 5nd July</span>
        <app-event-scheduler></app-event-scheduler>
      </div>
      <div class="calendar__block flex-column">
        <span class="calendar__day-title">Friday 2nd July</span>
        <app-event-scheduler></app-event-scheduler>
        <app-event-scheduler></app-event-scheduler>
        <app-event-scheduler></app-event-scheduler>
        <app-event-scheduler></app-event-scheduler>
      </div>
    </div>
  </app-button-layout>
</app-main-layout>
