<app-main-layout
        [titlePage]="pageTitle"
        [isNeedBgWhite]="true"
>

    <div class="videos ion-margin-start ion-margin-end">
        <div class="videos__header">
            <ion-searchbar color="light"></ion-searchbar>
            <ion-button (click)="openFilter()" expand="block" color="light" size="small"
            >
                <ion-icon src="/assets/images/svg-icons/ios-funnel-orange.svg"  slot="icon-only"></ion-icon>
            </ion-button>
        </div>
        <div class="d-flex ion-justify-content-between mb24 video__row">
            <div class="videos__title">What's new</div>
            <a class="d-flex ion-align-items-center" (click)="redirectTo()">
                <span class="brn-text-more">see all</span>
                <ion-icon color="warning" name="arrow-forward"></ion-icon>
            </a>
        </div>
    </div>
    <div class="videos ion-margin-start">

        <div class="mb40 video__row pos-relative">

            <app-new-slides></app-new-slides>

        </div>
    </div>
    <div class="videos ion-margin-start ion-margin-end">

        <div class="d-flex ion-justify-content-between mb24 video__row">
            <div class="videos__title">favourite</div>
            <a class="d-flex ion-align-items-center"  (click)="redirectTo()">
                <span class="brn-text-more">all</span>
                <ion-icon color="warning" name="arrow-forward"></ion-icon>
            </a>
        </div>

    </div>
    <div class="videos ion-margin-start">

        <div class="mb40 video__row">

            <app-favorite-slides></app-favorite-slides>

        </div>
    </div>
    <div class="videos ion-margin-start ion-margin-end">

        <div class="d-flex ion-justify-content-between mb24 video__row">
            <div class="videos__title">Category</div>

        </div>

        <div class="mb40 video__row">

            <app-category-list></app-category-list>

        </div>

        <div class="d-flex ion-justify-content-between mb24 video__row">
            <div class="videos__title">Focus</div>
        </div>

        <div class="mb24 video__row">
            <app-focus-list></app-focus-list>
        </div>

        <div class="d-flex ion-justify-content-between mb24 video__row">
            <div class="videos__title">duration</div>
        </div>

        <div class="mb24 video__row">
            <app-duration-list></app-duration-list>
        </div>

        <div class="d-flex ion-justify-content-between mb24 video__row">
            <div class="videos__title">difficulty</div>
        </div>

        <div class="mb24 video__row">
            <app-difficulty-list></app-difficulty-list>
        </div>

    </div>

</app-main-layout>
