<app-main-layout
        [isNeedLogo]="true"
>

  <div class="videos ion-margin-start ion-margin-end">
    <div class="videos__header">
      <ion-searchbar color="light"></ion-searchbar>
    </div>
    <div class="d-flex ion-justify-content-between mb24 video__row">
      <div class="videos__title">What's new</div>
      <a class="d-flex ion-align-items-center">
        <span class="brn-text-more">see all</span>
        <ion-icon color="warning"  name="arrow-forward"></ion-icon>
      </a>
    </div>

    <div class="mb40 video__row pos-relative">

      <app-new-slides></app-new-slides>

    </div>


    <div class="d-flex ion-justify-content-between mb24 video__row">
      <div class="videos__title">favourite</div>
      <a class="d-flex ion-align-items-center">
        <span class="brn-text-more">all</span>
        <ion-icon color="warning"  name="arrow-forward"></ion-icon>
      </a>
    </div>

    <div class="mb40 video__row">

      <app-favorite-slides></app-favorite-slides>

    </div>

    <div class="d-flex ion-justify-content-between mb24 video__row">
      <div class="videos__title">Category</div>

    </div>

    <div class="mb40 video__row">

      <app-category-list></app-category-list>

    </div>

    <div class="d-flex ion-justify-content-between mb24 video__row">
      <div class="videos__title">Focus</div>

    </div>

    <div class="mb40 video__row">

      <app-focus-list></app-focus-list>

    </div>
  </div>

</app-main-layout>
