@import "variables";
@import "mixins";

.measurements {
    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: var(--white);

    &__btn {
        width: 100%;
        margin-bottom: 16px;
    }

    &__btn-text {
       @include btnTextMonserat12()
    }

    ion-card {
        @include border1;
        @include border-radius-8;
        background-color: var(--light-gray);

        width: 100%;
        margin-bottom: 0;
        box-shadow: none;

        &:last-of-type {
            margin-bottom: 16px;
        }

        &.focused {
            background-color: var(--white);

            input {
                background-color: var(--white);
            }
        }
    }

    &__card {
        width: 100%;
        padding: 17px 23px 23px 23px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__col {
        // flex: 1 0 200px;
        display: flex;
        align-items: center;
        &:last-of-type {
            align-items: flex-start;
        }
    }

    &__label {
       @include btnTextMonserat12(--dark-gray)
    }


    &__count {
        @include titleSemi44();
    }

    &__text {
        @include btnTextSemi13(var(--light-gray2));
        margin-top: 9px;
        //margin-left: 2px
    }

    input.measurements__count {
        width: 80px;
        @include titleSemi44();
        background-color: var(--light-gray);
        border: 0;


    }
    input::placeholder {
        @include titleSemi44();
    }

    input::-webkit-input-placeholder {
        @include titleSemi44();
    }

    input:focus {
        border: 0;
        outline: 0;
        caret-color: var(--ion-color-warning);
    }
}

