
<app-main-layout
        [titlePage]="pageTitle"
        [isNeedBack]="true"
>

      <div class="measurements ion-align-items-center ion-justify-content-center ion-padding-start ion-padding-end">

        <ion-card>
         <div class="measurements__card">
           <div class="measurements__col">
             <span class="measurements__label">Left arm</span>
           </div>
           <div class="measurements__col">
             <input
                     type="text"
                     class="measurements__count"
                     max="999" value="0"
                     maxlength="3"
                     inputmode="numeric"
             >
             <span class="measurements__text">cm</span>
           </div>
         </div>
        </ion-card>

        <ion-card class="focused">
          <div class="measurements__card">
            <div class="measurements__col">
              <span class="measurements__label">Left arm</span>
            </div>
            <div class="measurements__col">
              <input
                      type="text"
                      class="measurements__count"
                      max="999" value="0"
                      maxlength="3"
                      inputmode="numeric"
              >
              <span class="measurements__text">cm</span>
            </div>
          </div>
        </ion-card>

        <ion-card>
          <div class="measurements__card">
            <div class="measurements__col">
              <span class="measurements__label">Left arm</span>
            </div>
            <div class="measurements__col">
              <input
                      type="text"
                      class="measurements__count"
                      max="999" value="0"
                      maxlength="3"
                      inputmode="numeric"
              >
              <span class="measurements__text">cm</span>
            </div>
          </div>
        </ion-card>

        <ion-card>
          <div class="measurements__card">
            <div class="measurements__col">
              <span class="measurements__label">Left arm</span>
            </div>
            <div class="measurements__col">
              <input
                      type="text"
                      class="measurements__count"
                      max="999" value="0"
                      maxlength="3"
                      inputmode="numeric"
              >
              <span class="measurements__text">cm</span>
            </div>
          </div>
        </ion-card>

        <ion-card>
          <div class="measurements__card">
            <div class="measurements__col">
              <span class="measurements__label">Left arm</span>
            </div>
            <div class="measurements__col">
              <input
                      type="text"
                      class="measurements__count"
                      max="999" value="0"
                      maxlength="3"
                      inputmode="numeric"
              >
              <span class="measurements__text">cm</span>
            </div>
          </div>
        </ion-card>

        <ion-button expand="full" (click)="save()" color="warning" class="measurements__btn">
          <div class="d-flex flex ion-justify-content-center ion-align-items-center">
            <div class="measurements__btn-text">Save measurement</div>
          </div>
        </ion-button>
      </div>

</app-main-layout>
