@import "mixins";

.video__wrapper {
    position: relative;

    height: 256px;
    width: 100%;

    background: url("/assets/images/video-item-bg@2x.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.video__play {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    width: 56px;
    height: 56px;

    background: url("/assets/images/svg-icons/play_icon.svg");
    background-position: center;
    // background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.video__action {
    display: flex;
    align-items: center;
}

ion-badge {
    padding-top: 5px;
}

.material-icons {
    font-size: 32px;
}

.video__title {
    @include titleSemi20;
    @include mb8;
}

.video__author {
    @include textMonserat12;
    @include mb24;
}

.video__text {
    @include textMonserat14;
}

.video__text-wrap {
    padding-top: 0;
}
