<app-main-layout
        [titlePage]="title"
        [isNeedFilter]="false"
        [isNeedBack]="true"
        [isHideBoxShadow]="true"
>
    <div class="video__wrapper">
        <div class="video__play"></div>
    </div>
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col size="10">
                <div class="video__action">
                    <ion-badge color="warning" class="mr16">Cardio</ion-badge>
                    <app-duration class="mr16"></app-duration>
                    <app-difficulty></app-difficulty>
                </div>
            </ion-col>
            <ion-col size="2" class="ion-justify-content-end ion-align-items-center">
                <ion-text color="warning">
                     <span class="material-icons"   (click)="isHeartClicked = !isHeartClicked">
                    {{isHeartClicked ? 'favorite_border' : 'favorite'}}
                    </span>
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="d-flex flex-column">
                <span class="video__title">Core yoga for beginners</span>
                <span class="video__author">by Kathy Jones</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="video__text-wrap">
                <span class="video__text">Super effective butt workout you can do at home to get the butt you always wanted. Not a single piece of equipment is needed. However to protect your knees use a properly padded mat. Trim your thighs and build and lift your glute. Do this routine 2-3 times a week and you'll be more than satisfied with the results. Build the most toned, trim, and lifted behind you've ever had in your life! Work your butt, glute, hamstring, hip, legs, thighs & more! This workout burns 110-160 calories.</span>
            </ion-col>
        </ion-row>
    </ion-grid>
</app-main-layout>
